                                <td>{$persona['id_persona']}</td>

                                {*
                                <td id="tr_view_firstname_{$persona['id_persona']}">{$persona['firstname']}</td>
                                <td id="tr_edit_firstname_{$persona['id_persona']}" style="display: none;"><input value="{$persona['firstname']}">
                                *}
                                <td>
                                    <div id="tr_view_firstname_{$persona['id_persona']}">
                                        {$persona['firstname']}
                                    </div>
                                    <div id="tr_edit_firstname_{$persona['id_persona']}" style="display: none;">
                                        <input value="{$persona['firstname']}">
                                    </div>
                                </td>

                                {*
                                <td id="tr_view_lastname_{$persona['id_persona']}">{$persona['lastname']}</td>
                                <td id="tr_edit_lastname_{$persona['id_persona']}" style="display: none;"><input value="{$persona['lastname']}"></td>
                                *}
                                <td>
                                    <div id="tr_view_lastname_{$persona['id_persona']}">
                                        {$persona['lastname']}
                                    </div>
                                    <div id="tr_edit_lastname_{$persona['id_persona']}" style="display: none;">
                                        <input value="{$persona['lastname']}">
                                    </div>
                                </td>

                                {*
                                <td id="tr_view_role_{$persona['id_persona']}">{$persona['role']}</td>
                                <td id="tr_edit_role_{$persona['id_persona']}" style="display: none;"><input value="{$persona['role']}"></td>
                                *}
                                <td>
                                    <div id="tr_view_role_{$persona['id_persona']}">
                                        {$persona['role']}
                                    </div>
                                    <div id="tr_edit_role_{$persona['id_persona']}" style="display: none;">
                                        <input value="{$persona['role']}">
                                    </div>
                                </td>
                                
                                {*
                                <td id="tr_view_phone_{$persona['id_persona']}" {if $persona['no_phone'] == 1}style="font-style: italic;"{/if}>{$persona['phone']}{if $persona['phone'] != ""} <a href="CALLTO::{$persona['phone']}"><i class="icon-phone"></i></a>{/if}</td>
                                <td id="tr_edit_phone_{$persona['id_persona']}" style="display: none;"><input value="{$persona['phone']}"></td>
                                *}
                                <td>
                                    <div id="tr_view_phone_{$persona['id_persona']}" {if $persona['no_phone'] == 1}style="font-style: italic;"{/if}>
                                        {$persona['phone']}{if $persona['phone'] != ""} <a href="CALLTO::{$persona['phone']}"><i class="icon-phone"></i></a>{/if}
                                    </div>
                                    <div id="tr_edit_phone_{$persona['id_persona']}" style="display: none;">
                                        <input value="{$persona['phone']}">
                                    </div>
                                </td>

                                {*
                                <td id="tr_view_phone_2_{$persona['id_persona']}" {if $persona['no_phone_2'] == 1}style="font-style: italic;"{/if}>{$persona['phone_2']}{if $persona['phone_2'] != ""} <a href="CALLTO::{$persona['phone_2']}"><i class="icon-phone"></i></a>{/if}</td>
                                <td id="tr_edit_phone_2_{$persona['id_persona']}" style="display: none;"><input value="{$persona['phone_2']}"></td>
                                *}
                                <td>
                                    <div id="tr_view_phone_2_{$persona['id_persona']}" {if $persona['no_phone_2'] == 1}style="font-style: italic;"{/if}>
                                        {$persona['phone_2']}{if $persona['phone_2'] != ""} <a href="CALLTO::{$persona['phone_2']}"><i class="icon-phone"></i></a>{/if}
                                    </div>
                                    <div id="tr_edit_phone_2_{$persona['id_persona']}" style="display: none;">
                                        <input value="{$persona['phone_2']}">
                                    </div>
                                </td>

                                {*
                                <td id="tr_view_phone_mobile_{$persona['id_persona']}" {if $persona['no_phone_mobile'] == 1}style="font-style: italic;"{/if}>{$persona['phone_mobile']}{if $persona['phone_mobile'] != ""} <a href="CALLTO::{$persona['phone_mobile']}"><i class="icon-phone"></i></a>{/if}</td>
                                <td id="tr_edit_phone_mobile_{$persona['id_persona']}" style="display: none;"><input value="{$persona['phone_mobile']}"></td>
                                *}
                                <td>
                                    <div id="tr_view_phone_mobile_{$persona['id_persona']}" {if $persona['no_phone_mobile'] == 1}style="font-style: italic;"{/if}>
                                        {$persona['phone_mobile']}{if $persona['phone_mobile'] != ""} <a href="CALLTO::{$persona['phone_mobile']}"><i class="icon-phone"></i></a>{/if}
                                    </div>
                                    <div id="tr_edit_phone_mobile_{$persona['id_persona']}" style="display: none;">
                                        <input value="{$persona['phone_mobile']}">
                                    </div>
                                </td>

                                {*
                                <td id="tr_view_email_{$persona['id_persona']}" {if $persona['no_email'] == 1}style="font-style: italic;"{/if}>{$persona['email']}</td>
                                <td id="tr_edit_email_{$persona['id_persona']}" style="display: none;"><input value="{$persona['email']}"></td>
                                *}
                                <td>
                                    <div id="tr_view_email_{$persona['id_persona']}" {if $persona['no_email'] == 1}style="font-style: italic;"{/if}>
                                        {$persona['email']}
                                    </div>
                                    <div id="tr_edit_email_{$persona['id_persona']}" style="display: none;">
                                        <input value="{$persona['email']}">
                                    </div>
                                </td>