/* Override jQueryUI dialog */

.ui-widget-overlay {
	z-index: 9998 !important;
	background: #000000 !important;
	opacity: 0.6 !important;
}

.ui-widget-content {
	z-index: 9999 !important;
	border: 0 !important;
}

.ui-widget {
	font-family: inherit !important;
}


/* Error alert */

.notif {
	margin: 0px auto;
	padding: 20px;
	color: white;
	border-radius: 4px;	
	overflow: hidden;
	-webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
}

.notif_error {
	background: #d35757;
}

.error_icon {
	padding: 20px;
	font-size: 56px;
}

.error_content {
	height: 100%;
	float: left;
}

.error_title {
	margin-bottom: 0.2em;
	margin-top: 0;
	font-size: 2em;
}


/* Credit card form */

caret.png {
	height: 100%;
	min-height: 100%;
}


/* Credit Card */

.credit-card {
	margin: 0 auto 30px;
	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #fff;	
	-webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
}

.form-header {
	padding: 10px 50px 10px 20px;
	border-bottom: 1px solid #E1E8EE;
	position: relative;
	font-weight: bold;
}

#GestpayLoadingBox span {
	float: left;
    font-size: 23px;
    line-height: normal;
    max-width: 185px;
    padding-top: 8px;
}

.loader_img_not-form {
	float: left;
}

.form-body-left {
	width: 30%;
	max-width: 288px;
	padding: 15px;
	float: left;
}

.form-body-right {
	width: 70%;
	max-width: 288px;
	padding: 15px;
	float: left;
}

.form-info {
	margin-bottom: 15px;
}


/* Title */

.title {
	margin: 0;
	color: #5e6977;
	font-size: 18px;
}


/* Common */

.card-number,
.cvv-input input,
.month select,
.proceed-btn,
.year select {
	height: 42px;
}

.card-number,
.month select,
.year select {
	font-size: 14px;
	font-weight: 100;
	line-height: 14px;
}

.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
	color: #333333;
	opacity: .7;
}


/* Card Number */

.card-number {
	width: 100%;
	margin-bottom: 5px;
	padding-left: 15px;
	border: 2px solid #e1e8ee;
	border-radius: 6px;
}


/* Date Field */

.date-field label,
.card-verification label {
	float: left;
    display: grid;
}

.month select,
.year select {
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 129px;
	margin-bottom: 5px;
	padding-left: 15px;
	border: 2px solid #e1e8ee;
	border-radius: 6px;
	background: url('../img/caret.png') no-repeat;
	background-position: 85% 50%;
}

.month select {
	float: left;
}

.year select {
	float: right;
}


/* Card Verification Field */

.cvv-input input {
	width: 100px;
	float: left;
	padding-left: 15px;
	border: 2px solid #e1e8ee;
	border-radius: 6px;
	background: #fff;
}

.cvv-details {
	float: left;
    margin-left: 15px;
	margin-top: 16px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

.cvv-details p {
	margin-top: 6px;
}


/* Buttons Section */

.proceed-btn {
	cursor: pointer;
	width: 100%;
	border-color: transparent;
	border-radius: 6px;
	font-size: 16px;
	margin-bottom: 10px;
	background: #7dc855;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}


/* Gestpay Custom */

#GestpayContent * {
	outline: none;
}

#GestpayContent .date-field,
#GestpayContent .card-verification {
    display: inline-block;
    width: 100%;
}

#GestpayDialog {
	text-align: center;
	padding: 15px;
	font-size: 25px;
}

#GestpayDialog img.loader_img {
	float: left;
	max-width: 30%;
}

#GestpayDialog #GestpayMessage {
	text-align: center;
    line-height: normal;
    display: block;
    padding-top: 5px;
    width: 100%;
    clear: both;
}

@media (max-width: 1290px) {
    #GestpayDialog img.loader_img,
    #GestpayDialog .dialog_logo {
        float: none;
    }
}

#GestpayDialog .dialog_logo {
	max-width: 80%;
	margin-top: 20px;
}

.GestpayClearfix:before,
.GestpayClearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.GestpayClearfix:after {
	clear: both;
}

.GestpayClearfix {
	*zoom: 1;
}

@media (max-width: 767px) {
	.form-body-left,
	.form-body-right {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.form-header {
		text-align: center;
		height: auto;
		padding: 15px 70px 15px 20px;
	}
	.form-header img:not(.secure_img) {
		padding: 0;
	}
	.form-header img.secure_img {
		top: 25px;
		right: 10px;
	}
	.form-header span {
		display: block;
		margin-top: 10px;
	}
}

@media (max-width: 826px) {
    .blockUI.blockMsg.blockPage {
        width: 50% !important;
        left: 25% !important;
    }
}

@media (max-width: 480px) {
    .blockUI.blockMsg.blockPage {
        width: 70% !important;
        left: 15% !important;
    }
}