.header-container {
	background: url(../img/header_bg.png);
	background-size: 100% 100%;
	margin: 0 -15px 20px;
	position: relative;
	text-align: center;
}

.header-container img {
	max-width: 100%;
	max-height: 120px;
}

.version_info {
	margin: 0;
	padding: 5px;
	color: #555;
	position: absolute;
}

.form-group {
	margin-bottom: 10px;
}

.switch input {
	vertical-align: initial;
	margin-left: 10px;
}

.switch input:first-child {
	margin-left: 0;
}

.button {
	font-size: 12px;
}