<script>

// TUTTO DA CORREGGERE E TESTARE! swal viene da sweetalert e non è ancora stato installato
/*
// Per lista fatture
$(document).ready(function(){
    $("#invia_fattura_anagrafica_{$fattura['id_storico']}").on("click",function(e){
        var valid = false;
        swal({
        title: 'Invia fattura al cliente',
        text: '',
        type: 'info',
        html:
        'Il cliente riceverà la fattura via mail con questo testo (se vuoi puoi aggiungere delle note nella cella): Gentile cliente, cliccando qui [link] puoi scaricare la tua fattura n. '.$fattura['id_fattura'].' in formato PDF.<br /><br />Email: <input id="swal-input1" class="swal2-input" value="'.$customer->email.'">' +
        'Note: <input id="swal-input2" class="swal2-input">',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        confirmButtonColor: '#6A9944',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Invia',
            showLoaderOnConfirm: true,
        }).then(function (result) {
            $.ajax({
            url:"ajax.php?id_customer='.$customer->id.'&viewcustomer&id_fattura='.$fattura['id_fattura'].'&tab-container-1=5&viewfattura&tipo='.$datiFattura['tipo'].'&updatefattura&token='.$this->token.'&inviafatturamail&mail="+$('#swal-input1').val()+"&note="+$('#swal-input2').val(),
            type: "GET",
            success:function(){
                swal({
                type: 'success',
                title: 'Fattura inviata con successo. Un record è stato salvato nello storico'		
                });
                location.reload(); 								
            },
            error: function(xhr,stato,errori){
                alert("Errore durante l'operazione:"+xhr.status);
            }
            });
                                    
        });
        
    });
});

// Per view fattura (si potrebbe accorpare al primo caso usando comunque id_storico)
$(document).ready(function(){
    $("#invia_fattura_anagrafica").on("click",function(e){
        var valid = false;
        swal({
        title: 'Invia fattura al cliente',
        text: '',
        type: 'info',
        html:
        'Il cliente riceverà la fattura via mail con questo testo (se vuoi puoi aggiungere delle note nella cella): Gentile cliente, cliccando qui [link] puoi scaricare la tua fattura n. '.$id_fattura.' in formato PDF.<br /><br />Email: <input id="swal-input1" class="swal2-input" value="'.$customer->email.'">' +
        'Note: <input id="swal-input2" class="swal2-input">',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        confirmButtonColor: '#6A9944',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Invia',
            showLoaderOnConfirm: true,
        }).then(function (result) {
            $.ajax({
            url:"ajax.php?id_customer={$customer->id}&viewcustomer&id_fattura={$id_fattura}&tab-container-1=5&viewfattura&tipo={$datiFattura['tipo']}&updatefattura&token={$tokenCustomers}&inviafatturamail&mail="+$('#swal-input1').val()+"&note="+$('#swal-input2').val(),
            type: "GET",
            success:function(){
                swal({
                type: 'success',
                title: 'Fattura inviata con successo. Un record è stato salvato nello storico'		
                });
                location.reload(); 								
            },
            error: function(xhr,stato,errori){
                alert("Errore durante l'operazione:"+xhr.status);
            }
            });
                                    
        });
        
    });
});
*/
</script>