/**
 * 2017-2018 Blulab S.r.l. - http://www.blulab.net/
 *
 *  @author    Blulab S.r.l <info@blulab.net>
 *  @copyright 2017-2018 Blulab S.r.l.
 *  @license   please contact Blulab S.r.l. http://www.blulab.net/
 *  Property of Blulab s.r.l. & GLS
*/
.glsitalyadmin .row-eq-height .well h2{
    text-align: center;
    border-bottom: 1px solid #FFF;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.glsitalyadmin .row-eq-height .well{
    color:#000000;
}
@media screen and (min-width: 900px) {
    .glsitalyadmin .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.glsitalyadmin .row-eq-height > div > .well{
    position:relative;
    height: 100%;
    padding-bottom: 60px;
}
.glsitalyadmin .row-eq-height .well .form-interno{
}
.glsitalyadmin .row-eq-height .well label{
    color:#000000;
    font-size: 11px;
}
.glsitalyadmin .form-buttons{
    position: absolute;
    left:20px;
    bottom: 5px;
    right: 20px
}
.glsitalyadmin .row-eq-height .well p.help-block{
    color:#000000;
}
.glsitalyadmin .row-eq-height .well-contatti{
    background-color: #d1d4dd;
}
.glsitalyadmin .row-eq-height .well-ss,
.glsitalyadmin .row-eq-height .well-wl{
    background-color: #a1a6ba;
}
.bootstrap .glsitalyadmin .switch a{
    background-color: #172154;
    border-color: #172154;
}
.bootstrap .glsitalyadmin .btn-default:hover {
    border:2px solid #FDBD10;
    background-color: #172154;
}
.bootstrap .glsitalyadmin .btn-default {
    background-color: #172154;
    border:2px solid #172154;
    color:#FFFFFF;
}
.bootstrap .glsitalyadmin .btn-default i{
    color:#FFFFFF;
}
.bootstrap .glsitalyadmin .prestashop-switch input + label {
    color: #CDCDCD;
}
.bootstrap .glsitalyadmin .prestashop-switch input:checked + label {
    color: #FFFFFF;
}
#GLSITALY_CONTACT_privacy_popup_content{
    padding:10px;
    display:none;
}
#GLSITALY_CONTACT_privacy_popup_content p{
    text-align: justify;
}
#GLSITALY_CONTACT_privacy_popup_content a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
#GLSITALY_CONTACT_privacy_popup_content a:hover{
    text-decoration: underline;
}