/* adresses */
div.addresses {
	border: 1px solid #d0d3d8;
	padding: 0.6em;
	position: relative;
	width: 544px
}
div.addresses h3 { margin: 0 }
div.addresses p.checkbox input {
	margin-top: 0!important;
	margin-top: -3px
}
div.addresses ul.item { clear: both }

#shipping_addresses { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
}

ul.address {
	position:relative;
	border:1px solid #d4d4d4;
	background-color: white;
	display: inline-block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 0.25em;
	padding-bottom: 0.6em;
	margin-bottom: 20px;
	margin-right: 20px;
}

.shopping_cart_table ul.address {
	border:0px;
}
	
ul.address.full_width { /* width: 536px */ }
ul.address li {
	padding-left: 1.4em;
	margin-top: 0.6em
}
li.address_title {
	margin-top: 0!important;
	color: #374853;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.6em
}

li.address_name,
li.address_firstname,
li.address_lastname,
 li.address_update a,
 li.address_delete a { color: #f16118 }
li.address_name,
li.address_firstname,
li.address_lastname,
 li.address_company { font-weight: bold }

span.address_name,
span.address_firstname,
span.address_lastname,
span.address_update a,
span.address_delete a { color: #f16118 }
span.address_name,
span.address_firstname,
span.address_lastname,
span.address_company { font-weight: bold }

li.address_update,
 li.address_delete {
	background: transparent url('../img/bullet_myaccount.gif') no-repeat 0 0.5em!important;
	background: transparent url('../img/bullet_myaccount.gif') no-repeat 0 0.4em;
	margin-left: 1.4em
}
#center_column .address_add { padding: 1em 0 }
