
#authentication_form .block {
padding-bottom: 5px;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
position:relative; 
float:left; 
width:375px !important;
}



#authentication_form .block input.account_input {
	
	width:315px;
	height:30px;
    padding-left: 35px;
    padding-right: 0px;
    background: transparent url('../img/icon/login_email.gif') 0px 50% no-repeat;
}

#authentication_form .block h3 {
z-index:0;
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(top, #ececec 54%, #ffffff 100%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,#ececec), color-stop(100%,#ffffff), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ececec 54%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ececec 54%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ececec 54%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ececec 54%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
/*border-top-left-radius:7px;
border-top-right-radius:7px;
-moz-border-top-left-radius:7px;
-moz-border-top-right-radius:7px;
-webkit-border-top-left-radius:7px;
-webkit-border-top-right-radius:7px;*/
}

/* authentication.tpl */
#create-account_form,
 #authentication #login_form {
	width: 49%;
	height: 20em;
	clear: none;
	float: left
} 
#create-account_form h4 {
	height: 3.4em;
	padding: 0.3em 3em 0 4em
}
#create-account_form p.text,
 #authentication #login_form p.text {
	height: 3.4em;
	margin-left: 4em;
	padding-left: 0;
	padding-right: 0
}
#authentication #login_form a { color: #374853 }
#create-account_form { margin-right: 11px }
#create-account_form p.text {
	text-align: left;
	width: 100px
}
#authentication #create-account_form p.text label { width: 100px }
#authentication input#SubmitCreate,
 #authentication input#SubmitLogin { margin: 0 }
#authentication p.submit {
	margin-right: 0;
	text-align: left;
	padding-left: 17%!important
}
#authentication p.lost_password 
{ 
font-size:14px;
margin-top:12px;
margin-bottom:-30px;
padding-bottom:10px;
text-align:center;
/*border-bottom-left-radius:7px;
border-bottom-right-radius:7px;
-moz-border-bottom-left-radius:7px;
-moz-border-bottom-right-radius:7px;
-webkit-border-bottom-left-radius:7px;
-webkit-border-bottom-right-radius:7px;*/
border-top:1px solid #d4d4d4;
background: #e8e8e8; /* Old browsers */
background: -moz-linear-gradient(top, #e8e8e8 0%, #d6d6d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e8e8e8 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e8e8e8 0%,#d6d6d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e8e8e8 0%,#d6d6d6 100%); /* IE10+ */
background: linear-gradient(to bottom, #e8e8e8 0%,#d6d6d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}

#authentication p.lost_password  a
{ 
}
#authentication #create-account_form fieldset,
 #authentication #login_form fieldset { height: 18em }
#authentication p.submit span { padding-right: 0.5em }
#create-account_form label, #authentication #login_form label {
	float: none;
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	margin-bottom: 0.3em
}
#account-creation_form input.text, 
#account-creation_form #id_country, 
#account-creation_form #id_state, 
  #authentication textarea { width: 17em }

.account_creation span.inline-infos
{
	width:100%;
	text-align:left;
	margin:2px 0 2px 32%;
	font-size:9px;
}

	
/* da authentication */

 @media (max-width: 768px) 
{
	#authentication_form .block {
		float:none;
		width:95% !important;
		margin-bottom:15px !important;
		margin-left:0px !important;
		
	}	
	
	#authentication_form .block h3 {
	}
	
	#authentication_form .block input.account_input {
		width:200px !important;
	}
	
	table.authentication
	{
		width:65%;
	}
	
	#tax_code_help
	{
		display:none;
	}
}

/* fine authentication */