/* category.tpl */
body#category #subcategories li { color:#383838; height: 160px; width: 140px; margin-right: 5px }
div.cat_desc { color:#383838; }
body#category div#subcategories .inline_list a img { display: inline }
#category img#categoryImage { margin-top: 1em }



/* da category */

	 @media (max-width: 768px) 
{
	.cat_desc h2
	{
		margin-bottom:10px;
	}
	.cat_desc
	{
		width:95%;
		padding-left: 10px;
		padding-right:10px;
	}
	
	.cat_desc img.img_lrg
	{
		width:100%;
		height:auto;
		margin-top:7px;
		margin-bottom:7px;
	}
	#subcategories .inline_list li 
	{
		display:table-cell;
		text-align:center;
		width:23% !important;
		margin-left:2% !important;
		margin-right:0px !important;
		margin:7px;
		/*background-color: #ebebeb;*/
	}
	
	#subcategories .inline_list li img
	{
		display:block;
		margin: 0 auto;
		margin-top:7px !important;
		/*background-color: #ebebeb;*/
	}
}

	 @media (max-width: 360px) 
{
	/*#subcategories .inline_list li 
	{
		display:block;
		width:100% !important;
		margin:7px;
	}*/
}