div.b-checkbox input[type=checkbox]{border:0px;visibility:hidden;z-index:9999999;}
div.b-checkbox{width:12px;padding-right:5px;position:relative;margin-left:0px;}
div.b-checkbox label{cursor:pointer;position:absolute;width:12px;height:12px;left:0px;top:0px;border:1px solid #d4d4d4; background:#fcfff4;background:-webkit-linear-gradient(top, #fcfff4 0%, #f9f7f8 40%, #e5e5e5 100%);background:-moz-linear-gradient(top, #fcfff4 0%, #f9f7f8 40%, #e5e5e5 100%);background:-o-linear-gradient(top, #fcfff4 0%, #f9f7f8 40%, #e5e5e5 100%);background:-ms-linear-gradient(top, #fcfff4 0%, #f9f7f8 40%, #e5e5e5 100%);background:linear-gradient(top, #fcfff4 0%, #f9f7f8 40%, #e5e5e5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#e5e5e5',GradientType=0);}
div.b-checkbox label:after{opacity:0;content:'';position:absolute;width:6px;height:3px;background:transparent;top:3px;left:2px;border:3px solid #333;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
div.b-checkbox label:hover::after{opacity:0.5;}
div.b-checkbox input[type=checkbox]:checked + label:after{opacity:1;}