/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position:relative;
z-index:8;
float:left;
border:1px solid #d4d4d4; 
border-radius:7px; 
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;
box-shadow: 0 0 0 1px #d4d4d4 [, 5px 5px 9px grey];
behavior:url('https://www.ezdirect.it/PIE.htc');

float:left; 
width:381px; 
height:305px }

.coin-slider img {


}


.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; position: absolute; top:-28px; z-index:9999; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }
