* {
	padding: 0;
	margin: 0;
	
}
body {
	background-color: white;
	font-size: 14px;
	font-family: Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
	color: #383838;
	text-align: center
	z-index:1;
	/*side banner*/
	
	/* background: url('../img/le-nostre-offerte-speciali.jpg') no-repeat fixed center top; */

	
	/*fine side banner*/
}

 @media (max-width: 1050px) 
{
	body {
		font-size:12px;
	}
}

/* per le anchors */
:target:before {
  content:"";
  display:block;
  height:45px; /* fixed header height*/
  margin:-45px 0 0; /* negative fixed header height */
}

fieldset {
border:0px !important;
}


#menu-alto
{
width:100%;	
height:40px;
border-bottom:1px solid #e3e3e3;
background-color:#f7f7f7; 	

}	

#menu-alto-in
{
position:relative;
width:1170px;
min-width:1170px;
margin: 0 auto;
text-align:right;
}


 @media (max-width: 1050px) 
{
	#menu-alto-in {
		width:1000px;
		min-width:1000px;
	}	
}		

#info-utente {
position:absolute;
z-index:3;
right:0px;
top:-3px;
width:990px;
font-size:15px;
}

#info-utente div {
	position:relative;
}	
	
#info-utente ul li a {
font-size:14px;
padding-right:7px;
padding-left:7px;
}

#contenitore {
position:relative;
width:1170px;
min-width:1170px;
background-color:#ffffff;
margin: 0 auto;
z-index:1;
}

 @media (max-width: 1050px) 
{
	#contenitore {
		width:1000px;
		min-width:1000px;
	}	
}	

.bodylink {
display:block;
width:100%;
height:100%;
z-index:0;
position:fixed;
}

a:link {
color:#0645AD;
text-decoration:underline;
}

a:hover {
text-decoration:none;
}

a:visited {
color:#0645AD;
text-decoration:underline;
}

input[type=button] {
cursor:pointer;
}

input[type=submit] {
cursor:pointer;
}

#header {
background-color:#ffffff;
z-index:99;
position:relative;
height:104px; /*mettere a 104 */
}

 @media (max-width: 1050px) 
{
	#header {
		width:1000px;
	}	
}		

/*metterlo con promo */
/*
#bc { 
margin-left:10px;
display:block;
margin-top:3px;
}
*/

#header-in {
background-color:#ffffff;
z-index:99;
position:relative;
}

.fixed-menu {
top:0px;
margin:0 auto;
position: fixed !important;
z-index:9999999;
}

 @media (max-width: 1050px) 
{
	.fixed-menu {
		width:100%;
	}	
}


#barra-alta {
position:relative;
width:100%;
height:27px;
z-index:2;
/*background-image: url('../img/sfondo_barra_alta.jpg');*/
}

#barra-alta-cx {
position:relative;
width:1170px;
margin:0 auto;
height:27px;
z-index:2;
text-align:right;
}

 @media (max-width: 1050px) 
{
	#barra-alta-cx {
		width:1000px;
	}	
}	

#call-me {
position:absolute;
top:0px;
right:0px;
width:130px;
z-index:2;
}

#barra-bianca {
position:relative;
width:1170px;
margin:0 auto;
height:88px;
text-align:left;
z-index:2;
}

 @media (max-width: 1050px) 
{
	#barra-bianca {
		width:1000px;
	}	
}	

/* block top search */
#search_block_top {
position:absolute;
top:27px;
left:277px;
width: 397px;
z-index:3;
height: 40px
}

#search_block_top input.search_query { 
	position:absolute;
	top:4px;
	z-index:3;
	left:0px;
	width: 290px;
	height: 39px;
	font-size:14px;
	padding-left:3px;
	display: block; 
	border:1px solid #d4d4d4;
}

 @media (max-width: 1050px) 
{
	#search_block_top input.search_query { 
		width:260px;
	}	
}	

#search_block_top #vaicerca {

position:absolute;
top:4px;
height:41px;
width:100px;
font-size:13px;
text-transform:uppercase;
left:288px;
color:#ffffff;
background-image:url('../img/sfondo_menu.gif');
border:0px;
}

 @media (max-width: 1050px) 
{
	#search_block_top #vaicerca {
		left:258px;
		width:80px;
	}	
}	


#search_block_top #vaicerca:hover {
color:#000066;
background: #ffe38c; /* Old browsers */
background: -moz-linear-gradient(top, #ffe38c 17%, #ffb600 54%, #ffe38c 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,#ffe38c), color-stop(54%,#ffb600), color-stop(87%,#ffe38c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffe38c 17%,#ffb600 54%,#ffe38c 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffe38c 17%,#ffb600 54%,#ffe38c 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffe38c 17%,#ffb600 54%,#ffe38c 87%); /* IE10+ */
background: linear-gradient(to bottom, #ffe38c 17%,#ffb600 54%,#ffe38c 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe38c', endColorstr='#ffe38c',GradientType=0 ); /* IE6-9 */

}

#cart-block-new {
border:1px solid #d4d4d4;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
height:39px;
width:140px;
position:absolute;
top:31px;
left:685px;
}



#account-block-new {
border:1px solid #d4d4d4;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
padding-left:5px;
height:39px;
width:165px;
position:absolute;
top:31px;
left:837px;
font-size:14px;
}

 @media (max-width: 1050px) 
{
	#account-block-new {
		display:none;
	}	
}	

#account-block-new img
{
	display:block;margin-top:-1px; margin-right:-1px;
	float:right;
	margin-left:3px;
}	

#servizio-clienti {
width:130px;
position:absolute;
z-index:3;
top:21px;
right:15px;
}

#barra-grigia {
padding-top:10px;
padding-left:5px;
text-align:left;
width:1160px;
height:26px;
background-image:url('../img/sfondo-barra-grigia.jpg');
position:relative;
z-index:3;
margin:0 auto;
}

#t_breadcrumbs {
text-align:left;
color:#383838;
width:1160px;
margin:0 auto;
margin-bottom:5px;
font-size:12px;
z-index:3;
}

#menu-blu {
text-align:left;
width:1150px;
height:40px;
background-image:url('../img/sfondo_menu.gif');
position:relative;
margin:0 auto;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
z-index:98;
}

 @media (max-width: 1050px) 
{
	#menu-blu {
		width:980px;
	}	
}	


ul.menucategory {
margin-left:0px;
list-style-type:none;
z-index:98;
}

ul.menucategory li.cat {
padding-top:4px;
display:block;
border-left:1px solid #ffffff;
float:left;
height:40px;
text-align:center;
font-variant:normal;
text-transform:none !important;
font-size:13px !important;
line-height:15px;
color:#ffffff;
vertical-align: middle;
background-repeat:no-repeat;
background-position:center;
z-index:99;
}

.menu-principale-link
{
font-size:11px; text-transform:uppercase;
}

#menu-cuffie { width:90px; }
#menu-centralini { width:88px;  }
#menu-telefoni { width:76px;}
#menu-cordless { width:83px;   }
#menu-audioconferenza  { width:133px; }
#menu-videoconferenza { width:93px;   }
#menu-videocamere { width:114px;   }
#menu-gsm { width:105px;  }
#menu-voip { width:84px;   }
#menu-networking { width:100px; }
#menu-citofoni { width:97px;   }
#menu-altre { width:73px; }

 @media (max-width: 1050px) 
{
	ul.menucategory li.cat {
		padding-top:4px;
		display:block;
		border-left:1px solid #ffffff;
		float:left;
		height:40px;
		text-align:center;
		font-variant:normal;
		font-size:13px;
		line-height:15px;
		color:#ffffff;
		vertical-align: middle;
		background-repeat:no-repeat;
		background-position:center;
		z-index:99;
	}
	
	#menu-cuffie { width:74px; }
	#menu-centralini { width:72px; }
	#menu-telefoni { width:60px; }
	#menu-cordless { width:67px; }
	#menu-audioconferenza  { width:117px; }
	#menu-videoconferenza { width:77px; }
	#menu-videocamere { width:98px; }
	#menu-gsm { width:89px; }
	#menu-voip { width:68px; }
	#menu-networking { width:84px; }
	#menu-citofoni { width:82px; }

}

ul.menucategory li.cat:hover {
background-color:#da6600;
z-index:99;
transition-delay:0.5s;

}



ul.menucategory li.cat:hover div {
transition-delay:0.5s;
visibility:visible;
z-index:99;
}


div.menu-category {
position:absolute;
color:#383838;
text-align:left;
top:40px;
left:0px;
font-size:12px;
z-index:999;
width:1124px;
padding-left:10px;
padding-right:10px;
border:3px solid #da6600;
background-color:#ffffff;
background-image:url('../img/sfumatura_menu_cat.gif');
background-repeat:repeat-x;
background-position:bottom;
height:280px;
visibility:hidden;
}

 @media (max-width: 1050px) 
{
	div.menu-category {
		width:953px;
	}	
}

div.menu-category div {
}

h3.category {
display:block;
height:27px;
padding-left:0px;
padding-top:7px;
color:#282972;
font-size:15px;
background-repeat:no-repeat;
background-position:left;
}


div.submenu {
	
z-index:999;
width:190px;
float:left;
margin-top:-12px;
}

div.submenu  img{
margin-bottom:5px;
}

div.cat-separatore {
width:41px;
height:255px;
background-image:url('../img/cat_separatore.png');
background-repeat:no-repeat;
float:left;
}

#home-title {
display:block; 
margin:0 auto; 
width:720px;
margin-bottom:-10px;
}

h1.home {
font-family:Arial; 
font-size:1em; 
color:#383838;
display:inline;
font-weight:normal;
}

p.home-title {
display:inline;
}

ul.int-category,ul.int-categ-marg {
margin-top:-10px;
list-style-type:none;
}

ul.int-category  li {
font-variant:normal;
width:180px;
margin-bottom:5px;
border-bottom:0px dotted #000000;
}

ul.int-categ-marg  li {
width:160px;
margin-bottom:5px;
border-bottom:0px dotted #000000;
}


ul.int-categ-marg   li a {
text-decoration:none;
font-weight:bold;
color:#383838;
}

ul.int-categ-marg li a:visited {
	font-variant:normal;
text-decoration:none;
font-weight:bold;
color:#282972;
}
ul.int-categ-marg   li a:hover {
text-decoration:none;
font-weight:bold;
color:#da6600;
}

ul.int-category  li a {
text-decoration:none;
font-weight:bold;
color:#383838;
}

ul.int-category li a:visited {
text-decoration:none;
font-weight:bold;
color:#282972;
}
ul.int-category  li a:hover {
text-decoration:none;
font-weight:bold;
color:#da6600;
}



hr.hr-cat {
display:block;
width:756px;
height:5px;
background-image:url('../img/hr-cat.png');
margin:0 auto;
margin-top:3px;
margin-bottom:3px;
border:0px;
}

hr.separation {
display:block;
width:1152px;
height:10px;
background-image:url('../img/hr-separation.jpg');
margin:0 auto;
margin-top:6px;
margin-bottom:6px;
border: 1px solid white;

}

 @media (max-width: 1050px) 
{
	hr.separation {
		width:980px;
	}	
}


#banner-home {
display:block;
position:relative;
float:left;
width:665px;
height:280px;
margin-bottom:10px;
/*border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;*/
overflow:hidden;
}

 @media (max-width: 1050px) 
{
	#banner-home {
		display:block;
		position:relative;
		float:left;
		width:575px;
		height:230px;
		margin-bottom:10px;
		border:1px solid #c4c4c4;
		/*border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;*/
		overflow:hidden;
	}
	
	#banner-home img {
		width:575px;
		height:230px;
	}	
}

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }
.banner ul li img { display: block; width: 100%; height: 280px; } 
.banner ul { height: 280px !important;}

.dots {
  position: absolute;
  
  left: 3px;
  bottom: -6px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #000;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}

#links-home {
margin-left:15px;
padding-left:5px;
position:relative;
float:left;
width:206px;
height:280px;
font-size:14px;
}



#links-home ul {
list-style-type:none;
}

#links-home ul li {
text-align:left;
color:#0645AD;
height:57px;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px solid #c4c4c4;
}

 @media (max-width: 1050px) 
{
	#links-home {
		width:180px;
		font-size:11px;
	}
	
	#links-home ul li {
	padding-top:0px;
	padding-bottom:0px;
	}
}

#links-home ul li table tr td {
height:48px;
}

#links-home ul li a {
text-decoration:none;
}

#links-home ul li:last-child {
border-bottom:0px;
}

#links-home ul li table tr td {
vertical-align:middle;
}

#coin-slider {

}

#coin-slider img {
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
display:block;
overflow:hidden;
position: static;
}

#coin-slider img:hover {
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
}

div.home-top-level-title h5 a {
color:#24248f;
font-weight:bold;
text-decoration:none;
font-size:15px;
}



div.home-medium-cart {
position:absolute; 
right:10px; 
top:90px
}

div.home-medium-bottom {
width:170px;
text-align:center;
position:absolute; 
top:290px;
}

div.home-medium-category {
background-color:#ebebeb;
position:relative;
padding-bottom:3px;
}

div.home-medium-category  span, div.home-top-category span {
color:#ffffff;
display:block;
width:94%;
line-height: 1.3em;
color: #000099;
height: 14px;

font-variant:normal;
text-transform:uppercase;
font-size:12px !important;
/*border-top-left-radius:7px;
border-top-right-radius:7px;*/
/*background-image: url('../img/header_block_bg_2.jpg');*/
/*background-color:#efefef;*/
padding-top:3px;
padding-bottom:3px;
font-size:16px;
font-variant:small-caps;
padding-left:5px;
padding-right:5px;
text-align:center;
}

div.home-medium-category  span a:link, div.home-top-category span a:link, div.home-medium-category  span a:hover, div.home-top-category span a:hover, div.home-medium-category  span a:visited, div.home-top-category span a:visited {
font-weight:bold;
}

div.home-featured-price, div.home-medium-price, div.home-medium-category {
font-family: Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
color:#fe0000;
}

div.home-medium-price {
position:absolute;
top:236px;
left:7px;
text-align:left;
padding-right:15px;
padding-top:3px;
width:107px;
height:32px;
font-size:14px;
/*background-image:url('../img/fascetta-home.png');*/
}

div.home-medium-subcategories {
position:absolute; 
left:0px; 
padding-left:7px; 
padding-right:7px; 
top:263px; 
font-size:14px; 
width:160px;

}

div.home-medium-subcategories ul, div.home-desc ul{
list-style-type:none;
}

div.home-medium-subcategories ul li, div.home-desc ul li{
list-style-type:none;
padding-top:2px;
padding-bottom:2px;
border-bottom:1px dotted #d4d4d4;
}

div.home-desc ul li{
width:190px;

}




div.home-top-level {
position:relative;
z-index:8;
font-size:11px;
float:left;
margin-left:17px;
width:439px;
height:190px;
/*background-image:url('../img/home-top-level.gif');*/
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
}

div.home-top-category {
width:450px;
padding-bottom:2px;

}




div.home-desc a {
font-size:14px;
color:#383838;
text-decoration:none;
}

#home_featured_module a {
text-decoration:none;
}

div.cathome {
position:absolute;
top:5px;
left:5px;
padding-left:5px;
width:140px;
height:17px;
font-size:12px;
background-color:#ffffff;

/* Valido per Mozilla, Opera, Safari, Chrome */
    opacity: 0.5;

}

div.cathome-in {
position:absolute;
top:5px;
left:5px;
padding-left:5px;
width:140px;
height:17px;
font-size:12px;
padding-top:1px;
color: #07078e;
}

div.home-medium-level {
margin-top:15px;
position:relative;
width:227px;
height:225px;
float:left;
margin-right:15px;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;
background-image: linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
*/
}

div.home-low-level {
margin-top:15px;
margin-right:20px;
margin-bottom:25px;
/*
background-image: linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(top, rgb(255,255,255) 38%, rgb(255,255,255) 69%, rgb(248,248,248) 85%);
*/
position:relative;
float:left;
width:208px;
height:340px;
color:#383838;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/

}


img.classhome {
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
margin-top:5px;
width:200px;
height:164px;

}

img.classhome2{
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
margin-left:5px;
margin-top:5px;
width:110px;
height:110px;

}

 @media (max-width: 1050px) 
{
	div.home-top-level {
	width:380px;
	}
	
	div.home-top-category {
	width:390px;
	padding-bottom:2px;

	}
	
	div.home-desc ul li{
		width:170px;
	}
		
	div.home-low-level {
		width:178px;
	}
	
	img.classhome {
		width:165px;
		height:135px;
	}	
}


div.home-low-level h5 a {
color:#24248f;
}

div.home-low-level a:link , div.home-medium-level a:link , div.home-top-level a:link {
color:#000099;
text-decoration:none !important; 
}
div.home-low-level a:visited , div.home-medium-level a:visited , div.home-top-level a:visited {
color:#000099;
text-decoration:none !important; 
}
div.home-low-level a:hover , div.home-medium-level a:hover, div.home-top-level a:hover {
color:#000099;
text-decoration:underline !important; 
}

div.block_listing_header {
height:32px;
width:100%;
font-size:12px;
border-top:1px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;
background-color:#ebebeb;
position:relative;
}

div.block-compare {
position:absolute;
width:300px;
top:6px;
left:5px;
}

div.block-sort {
position:absolute;
width:300px;
top:6px;
right:5px;
}



/* Useful */
.align_center { text-align: center }
.align_right { text-align: right }
.middle { vertical-align: middle }
.align_justify { text-align: justify }
.uppercase { text-transform: uppercase }
.hidden, .collapsed, .block_hidden_only_for_screen { display: none }
.wrap { white-space: normal }
.bold { font-weight: bold }
.strike { text-decoration: line-through }
.italic { font-style: italic }
.top { vertical-align: top }
.span_link { cursor: pointer }
.span_link:hover { text-decoration: underline }
.clear { clear: both }
br.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
	height: 0
}
noscript ul { list-style-type: none; background: black; color: white; padding: 10px; border: 1px solid gray }
/* new clearfix */
.clearfix:after { 
	clear: both; 
	display: block; 
	height: 0; 
	font-size: 0; 
	visibility: hidden; 
	content: "."; 
}
* html .clearfix { zoom: 1 }
*:first-child+html .clearfix { zoom: 1 }

/* Footer links */

.footer_blocks  {
text-align:center;
font-size:11px;
padding-top:5px;
}

#footer_blocks
{
	padding-top:10px;
	padding-bottom:10px;
	height:80px;
	margin:0 auto;
	width:1170px;
	background-color:#ffffff;
}	

 @media (max-width: 1050px) 
{
	#footer_blocks
	{
		width:980px;
	}
}

#footer_block_1 {
display:block;
float:left;
width:157px;
height:65px;
border-right:1px solid #c4c4c4;
padding-left:10px;
padding-right:10px;
text-align:center;
}

#footer_block_2 {
display:block;
float:left;
width:245px;
padding-left:10px;
padding-right:10px;

}

#footer_block_3 {
display:block;
float:left;
width:255px;
border-left:1px solid #c4c4c4;
padding-left:10px;
padding-right:10px;
}

#footer_block_4 {
border-left:1px solid #c4c4c4;

display:block;
float:left;
width:210px;
height:70px;
padding-left:10px;
padding-right:10px;
}
#footer_block_4 img {
display:block;
margin-top:5px;
}

#footer_block_5 {
	border-left:1px solid #c4c4c4;
	display:block;
float:left;
padding-top:10px;
width:170px;
height:60px;
padding-left:10px;
padding-right:10px;
}

#footer_block_5 img {
display:block;
margin-top:5px;
}

 @media (max-width: 1050px) 
{
	#footer_block_5 
	{
		display:none;
	}
}

.menufooter {
	list-style-image: url('../img/list-triangle.jpg');
	margin-left:10px;
}	

.menufooter li {
	font-size:12px;
}	

.menufooter li a {
	color:#525252;
	text-decoration:none;
}	

.menufooter li a:hover {
	color:#000099;
	text-decoration:none;
}	
.footer_links {
	list-style-type: none;
	clear: both;
	height: 2em;
	margin-top: 2em
}
.footer_links li {
	float: left;
	margin-right: 2em;
	height: 2em
}
.footer_links a { text-decoration: none }
.footer_links a:hover { color: black }
.footer_links img.icon { vertical-align: -2px }

/* transfert effect*/
.transferProduct { border: 2px solid #888 }

/* simple list inline */
.inline_list { list-style-type: none; margin-top: 1em }
.inline_list li { float: left; text-align: center }
.inline_list img { display: block }
ul.half {
	width: 45%;
	margin-right: 1em;
	float: left
}

/* Category tree (i.e. in sitemap) */
div.tree_top {
	background: url('../img/sitemap-top.gif') no-repeat -1px -3px;
	padding-left: 24px;
	padding-bottom: 5px;
	padding-top: 3px
}
ul.tree, ul.tree ul { list-style-type: none }
ul.tree li {
	padding-left: 1.2em;
	border-left: 1px gray dotted;
	background: url(../img/sitemap-horizontal.png) no-repeat left 10px;
	margin-left: 1em
}
ul.tree a { padding-left: 0.2em }
ul.tree a.selected { font-weight: bold }
ul.tree li.last {
	background: url(../img/sitemap-last.gif) no-repeat -12px -2px;
	border: none
}
span.grower { cursor: pointer }

/* Tabs */
.idTabs {
	list-style-type: none;
	/* border-bottom: solid 1px #76839b; */
	height: 21px;
	margin-top: 1em
	
}
ul.idTabs li {
	float: left;
	margin-right: 1px;
	font-size:14px;
}
.idTabs a, .idTabs span {
	/*	border-top-left-radius:7px !important;
	-webkit-border-top-left-radius:7px !important;
-moz-border-top-left-radius:7px !important;
-o-border-top-left-radius:7px !important;
		border-top-right-radius:7px !important;
	-webkit-border-top-right-radius:7px !important;
-moz-border-top-right-radius:7px !important;
-o-border-top-right-radius:7px !important;
*/
/*	background-image: url('../img/tab_bg.jpg');*/
	display: block;
	width: 173px;
	cursor:pointer;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	font-size:13px;
	font-weight: bold;
	padding-top: 3px;
	color: #ffffff;


}
.idTabsLarge a {
	/*	border-top-left-radius:7px !important;
	-webkit-border-top-left-radius:7px !important;
-moz-border-top-left-radius:7px !important;
-o-border-top-left-radius:7px !important;
		border-top-right-radius:7px !important;
	-webkit-border-top-right-radius:7px !important;
-moz-border-top-right-radius:7px !important;
-o-border-top-right-radius:7px !important;
*/
	background-image: url('../img/tab_bg2.jpg');
	display: block;
	width: 450px;
	background-repeat:repeat;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	padding-top: 3px;
	color: #ffffff;
	margin-left:5px;

}
.idTabs .selected {
	/*background-image: url('../img/tab_bg_selected.jpg');*/
	color: white
}

/* IdTabs Short*/
.idTabsShort a, .idTabsShort span {
/*background-image: url('../img/tab_bg_selected_short.jpg');*/
	font-size:15px;
	/*background-repeat:repeat;
	border-top:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	border-left:1px solid #d4d4d4;*/
	margin-left:6px;
	padding-top:2px;
	height:18px;
	color: #ffffff;
	width: 170px
}
.idTabsShort .selected {
	/*background-image: url('../img/tab_bg_selected_short.jpg');*/
	background-repeat:repeat;
	color:#000099;
}
.idTabsVeryShort a, .idTabsVeryShort span {
background-color:#f5f5f5 !important;
	font-size:14px;
	background-repeat:repeat;
	border:1px solid #d4d4d4;
	margin-left:-1px;
	padding-top:4px;
	margin-right:4px;
	height:21px;
	color: #000000;
	width: 120px;
	font-size:13px;
	display:block;
	margin-bottom:-1px;
}

.idTabsVeryShort a:hover, .idTabsVeryShort span:hover {
background-image: none;
	background-color: #ffffff !important;
	background-repeat:repeat;
}

.idTabsVeryShort .selected {
	background-color:#ffffff  !important;
	
	display:block;
	border-bottom:1px solid #ffffff;
	color:#000000;
}
div.sheets {
	clear: both;
	padding: 1em
}

#more_info_tabs li {
	
}


#more_info_sheets li {
	background-position: 6px 4px;
	margin-bottom: 0.4em;

}

/* global style */
a {
	color: #383838;
	text-decoration: underline;
	outline: none
}
a:hover { text-decoration: none }

a img {
	outline: none;
	border: none;
	text-decoration: none
}
h1 {
	font-size: 16px;
	color:#000066;
	text-align:center;
	padding-bottom:5px;
	width:100%;
	font-weight: bold;
	font-family:Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
}
h1.category {
	font-size: 16px;
	color:#000066;
	text-align:center;
	padding-bottom:5px;
	border-bottom:1px dotted #000066;
	width:100%;
	font-weight: bold;
	font-family:Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
}

h1 span {
	font-size: 0.9em;
	text-transform: none;
	font-weight: normal;
	font-style: italic;
	color: #374853;
	margin-left: 1em
}
h2 {
	font-size: 14px;
	text-align:center;
	font-weight: bold;
	font-family:Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
	color: #374853;
}
h2 span {
	font-size: 0.9em;
	text-transform: none;
	font-weight: normal;
	font-style: italic;
	color: #374853;
	margin-left: 1em
}
h3 { font-size: 1.1em; margin: 1em 0 }
h4 { font-size: 1em }

h4.homepage {
display:block;
color:#000099;
margin:0 auto;
/*background-image: url('../img/header_block_bg_2.jpg');*/
background-repeat:repeat;
background-position:bottom;
height:15px;
width:200px;
text-align:center;
padding-left:5px;
padding-top:1px;
padding-bottom:0px;
font-size:12px;
text-transform:uppercase;
margin-top:25px;
margin-bottom:-5px;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/

}

/* global layout */
#page {
	position:relative;
	width: 1152px;
	margin: 10px auto 2px auto;
	text-align: left
}

 @media (max-width: 1050px) 
{
	#page
	{
		width:980px;
	}
}

#columns {
position:relative;
}

div.column {
position:relative;
}

#header_logo {
	float: left;
	width: 264px;
	display: block;
	
}


img.logo {
	float: left;
	margin-top: 2px;
	font-size: 2em;
	font-weight: bold
}
#header_right {
	float: left;
	margin-bottom: 15px;
	width: 73%;
	text-align: right
}
#left_column, #center_column, #right_column { float: left }
#left_column {
	clear: left;
	width: 235px;
	margin-right: 30px;
	overflow: hidden
	
}


#center_column {
	position:relative;
	width: 895px;
	margin: 0 0 30px 0;
	/* overflow: hidden */
}

 @media (max-width: 1050px) 
{
	#left_column {
	clear: left;
	width: 191px;
	margin-right: 21px;
	overflow: hidden
	}
	
	#center_column {
		position:relative;
		width: 782px;
		margin: 0 0 30px 0;
		/* overflow: hidden */
	}
}

#old_center_column { display: none }

.ac_results_instant {
	display: none;
	visibility: hidden
}
#instant_search_results a.close {
	float: right;
	margin-right: 7px;
	padding-right: 21px;
	text-transform: none
}
#right_column {
	width: 191px;
	margin-left: 21px;
	overflow: hidden
}

/* global RTE fields */
.rte,
 .mceContentBody {
	text-align: left;
	background: white;
	color: black
}
body.mceContentBody {
	margin: 9px 6px;
	width: 556px
}
.rte html,.rte div,.rte span,.rte applet,.rte object,.rte iframe,.rte h1,.rte h2,.rte h3,.rte h4,.rte h5,.rte h6,.rte p,.rte blockquote,.rte pre,.rte a,.rte abbr,.rte acronym,.rte address,.rte big,.rte cite,.rte code,.rte del, .rte dfn, .rte em,.rte font,.rte img,.rte ins,.rte kbd,.rte q,.rte s,.rte samp,.rte small,.rte strike,.rte strong,.rte sub,.rte sup,.rte tt,.rte var,.rte dl,.rte dt,.rte dd,.rte ol,.rte ul,.rte li,.rte fieldset,.rte form,.rte label,.rte legend,.rte table,.rte caption,.rte tbody,.rte tfoot,.rte thead,.rte tr, .rte th,.rte td,
.mceContentBody html, .mceContentBody div, .mceContentBody span, .mceContentBody applet, .mceContentBody object, .mceContentBody iframe, .mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6, .mceContentBody p, .mceContentBody blockquote, .mceContentBody pre, .mceContentBody a, .mceContentBody abbr, .mceContentBody acronym, .mceContentBody address, .mceContentBody big, .mceContentBody cite, .mceContentBody code, .mceContentBody del, .mceContentBody dfn, .mceContentBody em, .mceContentBody font, .mceContentBody img, .mceContentBody ins, .mceContentBody kbd, .mceContentBody q, .mceContentBody s, .mceContentBody samp, .mceContentBody small, .mceContentBody strike, .mceContentBody strong, .mceContentBody sub, .mceContentBody sup, .mceContentBody tt, .mceContentBody var, .mceContentBody dl, .mceContentBody dt, .mceContentBody dd, .mceContentBody ol, .mceContentBody ul, .mceContentBody li, .mceContentBody fieldset, .mceContentBody form, .mceContentBody label, .mceContentBody legend, .mceContentBody table, .mceContentBody caption, .mceContentBody tbody, .mceContentBody tfoot, .mceContentBody thead, .mceContentBody tr, .mceContentBody th, .mceContentBody td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}
.rte h1,.rte h2,.rte h3,.rte h4,.rte h5,.rte h6,
 .mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6 {
	margin: 0.75em 0 0.3em 0;
	color: #374853
}
.rte h1,
 .mceContentBody h1 {
	font-size: 25px;
	font-weight: bold;
	background: inherit
}
.rte h2,
 .mceContentBody h2 {
	font-size: 14px;
	background: none;
	text-transform: none;
	height: auto
}
.rte h3, .mceContentBody h3 { font-size: 16px }
.rte h4, .mceContentBody h4 { font-size: 14px }
.rte h5,.mceContentBody h5 { font-size: 12px }
.rte h6, div.rte h6 { font-size: 8px }
.rte ol, .mceContentBody ul, div.rte ol, .mceContentBody ul { padding-left: 2em }
.rte ul, .mceContentBody ul {
	list-style-type: square;
	margin-left: 10px
}
.rte strong, .mceContentBody strong { font-weight: bold }
.rte em, .mceContentBody em { font-style: italic }

/* tables still need 'cellspacing="0"' in the markup */
.rte table,.mceContentBody table {
	border-collapse: separate;
	border-spacing: 1px;
	width: auto
}
.rte caption, .rte th, .rte td, .rte table,
 .mceContentBody caption, .mceContentBody th, .mceContentBody td, .mceContentBody table {
	text-align: left;
	font-weight: normal;
	background: none;
	height: inherit;
	border: 1px #e5e6e7 solid;
	text-align: center
}
.rte th, .mceContentBody th {
	padding-left: 1em;
	padding-right: 1em;
	background: #e5e6e7
}
#center_column .rte p, 
 .mceContentBody p { padding-left: 0; margin: 0.5em 0 }
.rte ol, .mceContentBody ol {
	list-style-type: decimal;
	margin-left: 10px
} 

/* /global RTE fields */

/* global table style */
div.table_block {
	background: transparent url('../img/table_footer.gif') no-repeat bottom left;
	padding-bottom: 6px;
	margin: 0 auto 2em;
	width: 541px
}
.std {font-size: 12px;}

table.std {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%
}
/*class table.std */
.std td,.std th { padding: 0.1em 0.1em }
.std th { white-space: nowrap }
.std tr.item td,.std .item th { background-color: white }
.std tr.alternate_item td,
.std tr.alternate_item th { background-color: #f1f2f4 }
.std tbody td,.std tfoot td { border-top: 1px solid #bdc2c9 }
.std thead th {
background-image: url('../img/block_myaccount_header_large.gif'); background-repeat:repeat;
	 color: #ffffff;
	 height:24px;
}
.std th.first_item { background-position: top left }
.std th.last_item { background-position: top right }
.std th.item { background-position: -5px 0 }
.std tfoot td {
	color: #374853;
	text-align: right;
	white-space: nowrap
}

/* /global table style */

/* global form style */
form.std { clear: both }
form.std h3 {
	color: #555;
	font-size: 1.4em;
	font-weight: normal;
	border-bottom: 1px solid #d0d1d5;
	padding: 0.5em;
	margin: 0 0 0.5em 0
}
form.std fieldset {
	border: 1px solid #d0d3d8;
	margin-bottom: 1em;
	padding-bottom: 1em
}
form.std legend {
	padding: 0.3em 0.6em;
	margin: 1em 0 1em 0.5em;
	font-size: 1.6em;
	font-weight: 100;
	border-color: #d0d1d5;
	border-style: solid;
	border-width: 1px
}
form.std h4, form.std p {
	padding: 0.3em 1em;
	clear: both
}
form.std label, form.std p span {
	float: left;
	text-align: right;
	width: 30%
}
form.std p span.like_input {
	width: auto;
	margin-left: 0.7em
}
input, textarea, select, span.editable {
	margin-left: 0.7em;
	font-size: 12px;
	font-family: Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
	outline: none
}
input, textarea { border: 1px solid #bdc2c9 }
input.text {
	height: 18px;
	padding-left: 2px;
	padding-right: 2px
}
.checkbox input, .radio input { border: none }
form.std .checkbox label, form.std .radio label, form.std span.form_info {
	margin: 0;
	float: none;
	text-align: left
}
.required sup { color: #da0f00 }
form.std p.checkbox { padding-left: 30% }
form.std p.submit {
	padding-left: 31%!important;
	margin-bottom: 1.5em
}
#center_column form.std p.submit2 {
	padding-left: 170px;
	margin-bottom: 1.5em
}

/* START OF BUTTONS SECTION
 * -tags: input, a, span
 * -sizes: mini, small, normal, large
 * -types: button, exlusive
 * -status: normal, hover, disabled
 * -rule: the span.button is a a.button disabled
*/

/* global button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	/*
	background-repeat: no-repeat;
	background-position: top left;
	border: none;
	color: black!important;
	font-weight: bold;
	font-size: 10px!important;
	text-align: center;
	text-decoration: none!important;
	cursor: pointer;
	display: block;
	line-height: 18px;
	height: 18px*/
}

/* input button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled {

}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	background-position: left -36px;
	cursor: default;
	color: #888!important
}

/* exclusive button */
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	/*color: white!important*/
}

/* exclusive disabled button */
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	/*color: #488c40!important*/
}

/* hover button */
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover,
a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {

}

/* exclusive hover button */
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	/*color: white!important*/
}

/* classic buttons */
input.button_mini, input.button_mini_disabled, input.exclusive_mini, input.exclusive_mini_disabled, a.button_mini, a.exclusive_mini, span.button_mini, span.exclusive_mini {
	width: 30px;
	color:#ffffff;
	background-color:#ef6018;
}
input.button_small, input.button_small_disabled, input.exclusive_small, input.exclusive_small_disabled, a.button_small, a.exclusive_small, span.button_small, span.exclusive_small {
	width: 60px;
	background-image: url('../img/button-small.png')
}
input.button, input.button_disabled, input.exclusive, input.exclusive_disabled, a.button, a.exclusive, span.button, span.exclusive {
	width: 120px;
	color:#ffffff;
	background-color:#ef6018;
}
input.button_large, input.button_large_disabled, input.exclusive_large, input.exclusive_large_disabled, a.button_large, a.exclusive_large, span.button_large, span.exclusive_large, span.exclusive_large_disabled {
	width: 180px;
	color:#ffffff;
	background: #ef6018; /* Old browsers */
	/*
background: -moz-linear-gradient(top, #ef6018 0%, #ffa84c 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef6018), color-stop(100%,#ffa84c)); 
background: -webkit-linear-gradient(top, #ef6018 0%,#ffa84c 100%);
background: -o-linear-gradient(top, #ef6018 0%,#ffa84c 100%); 
background: -ms-linear-gradient(top, #ef6018 0%,#ffa84c 100%);
background: linear-gradient(to bottom, #ef6018 0%,#ffa84c 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6018', endColorstr='#ffa84c',GradientType=0 ); */
/*box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
				0 0 1px 1px rgba(255,255,255,0.8),
				0 0 0 6px rgba(0,0,0,0.06),
				0 0 0 3px rgba(0,0,0,0.1);*/
}

/* exclusive button *//*
input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive { background-image: url('../img/button-medium_exclusive.png') }
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini { background-image: url('../img/button-mini_exclusive.gif') }
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small { background-image: url('../img/button-small_exclusive.gif') }
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large, span.exclusive_large_disabled { background-image: url('../img/button-large_exclusive.gif') }*/

/* id_state field in managed via JS and is firstly hidden */
form p.id_state { display: none }

/* generic style */
ul.bullet li, .block ul.bullet li, li.bullet {
	padding-left: 2em;
	background: transparent url('../img/bullet.gif') no-repeat 6px 6px;
	list-style-type: none
}

.price-discount { text-decoration: line-through }
.price-pretax { color: gray }
.price-ecotax { color: #488c40 }
img.icon { margin-right: 0.5em; vertical-align: middle }
.weight-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.volume-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.unity-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.price, .price-shipping, .price-wrapping {
	color: #da0f00;
	font-size: 1.1em;
	font-weight: bold;
	white-space: nowrap
}

/* errors */
.error {
	width: 90%;
	color: #da0f00;
	margin: 0.3em auto 1.5em auto;
	padding: 0.3em 0.8em 1em
}
.error p { font-weight: bold }
.error li {
	list-style-position: inside;
	list-style-type: decimal-leading-zero;
	padding-left: 3em
}

/* warning */
.warning {
	color: black;
	font-size: 1.2em;
	background-color: #F8E1A0;
	border: 1px dashed #F9E400;
	font-weight: bold;
	margin: 0.2em 2em;
	padding: 0.6em 1em
}
.warning_inline {
	color: #da0f00;
	font-weight: bold
}

/* success */
.success {
	color: green;
	font-weight: bold;
	margin: 0.2em 1em;
	padding: 0.3em 0.8em 1em
}
.success_inline {
	color: green;
	font-weight: bold
}

#newsletter_block_left
{
	height:146px;
	background-image:url('../../../img/newsletter-gratuita.jpg');	
	background-repeat:no-repeat;
}	



#newsletter_block_left div
{
	margin-top:6px;
	width:158px;
	margin-left:57px;
}

 @media (max-width: 1050px) 
{
	#newsletter_block_left
	{
		background-image:url('../../../img/newsletter-gratuita_2.jpg');	
		background-repeat:no-repeat;
		background-position:center top;
	}	

	#newsletter_block_left div
	{
		margin-left:0px;
	}
}	


#error_newsletter {
position:fixed;
top:0px;
left:0px;
text-align:center;
padding-top:10px;
padding-bottom:10px;
z-index:9999999999;
background-color:#ffcccc;
border-bottom:1px solid #ff0000;
width:100%;
-webkit-box-shadow: 0px 0px 13px 0px rgba(155, 50, 50, 1);
-moz-box-shadow:    0px 0px 13px 0px rgba(155, 50, 50, 1);
box-shadow:         0px 0px 13px 0px rgba(155, 50, 50, 1);
}

#success_newsletter {
position:fixed;
top:0px;
left:0px;
text-align:center;
padding-top:10px;
padding-bottom:10px;
z-index:9999999999;
background-color:#ccffcc;
border-bottom:1px solid #336600;
width:100%;
-webkit-box-shadow: 0px 0px 13px 0px rgba(56, 118, 38, 1);
-moz-box-shadow:    0px 0px 13px 0px rgba(56, 118, 38, 1);
box-shadow:         0px 0px 13px 0px rgba(56, 118, 38, 1);
}

/* breadcrumb.tpl */
.breadcrumb {
	font-size: 1em;
	color: #383838
}
.breadcrumb .navigation-pipe { padding: 0 0.6em }
.breadcrumb a {
	text-decoration: none;
	color: #383838
}
.breadcrumb a:hover { text-decoration: underline }

/* pagination.tpl */
div.pagination { padding: 1em 0 }
ul.pagination {
	list-style: none;
	float: left
}
ul.pagination li {
	display: inline;
	float: left;
	margin-right: 0.3em
}
ul.pagination li, ul.pagination a, ul.pagination span {
	font-weight: bold;
	color: #383838;
}
ul.pagination a, ul.pagination span {

	padding: 0em 0.8em;
	display: block;
	line-height: 22px;
	border:1px solid #d4d4d4;
}
ul.pagination a { text-decoration: none }
ul.pagination .current span {
	background-color: #ef6018;
	color: white;
	border: 1px solid #ef6018;
}
ul.pagination li.truncate {
	padding: 0.3em;
	background: none
}
#pagination_previous a, #pagination_previous span, #pagination_next a, #pagination_next span {
	border: none;
	line-height: 22px;
	border:1px solid #d4d4d4;
}
#pagination_previous {
	padding-left: 8px
}
#pagination_previous a, #pagination_previous span { }
#pagination_next {
	padding-right: 8px
}
#pagination_next a, #pagination_next span { }
li.disabled span {
	color: #888;
}
form.pagination { text-align: right }
form.pagination label {
	line-height: 1.4em;
	vertical-align: bottom;
	float: right;
	margin-left: 0.3em
}
form.pagination select { float: right }
form.pagination select option {
	font-size: 0.9em;
	padding-right: 1em
}
form.pagination input { float: right }

/* steps (like order step) */
ul.step {
	background: transparent url('../img/step_start.png') no-repeat bottom left;
	list-style: none;
	margin: 0.8em auto 2em;

}
ul.step li {
width:138px;
padding-top:22px;
height:29px;
	float: left;
color:#FFFFFF;
	text-align: center;
	background: transparent url('../img/step_standard.png') no-repeat bottom left
}
ul.step li a{

color:#FFFFFF;
text-decoration:none;
}
ul.step li a:hover{

color:#FFFFFF;
text-decoration:none;
}
ul.step li.step_current {
width:142px;
height:30px;
padding-top:21px;
color:#FFFFFF;
border:0px;
background: transparent url('../img/step_current.png') no-repeat bottom center;
font-weight: bold
}
ul.step li.step_todo { font-style: italic }

ul.step li#step_end { width:146px; }
ul.step li#step_end { background: transparent url('../img/step_end.png') no-repeat bottom left }
ul.step li.step_start { width:146px; background: transparent url('../img/step_start.png') no-repeat bottom left }
ul.step li#step_end.step_current { background: transparent url('../img/step_end_current.png') no-repeat bottom left }
ul#order_step { background-color: white }


/* product-sort.tpl */
#productsSortForm p {
	height: 1em;
	margin: 0.5em 0 0 0
}
#productsSortForm label, #productsSortForm select { float: right }
#productsSortForm select { font-size: 1em }

/* Header */
#header_right ul { list-style: none }
#header_right form {
	border: none;
	margin-bottom: 0!important;
	display: inline
}
#header_right label {
	margin: 0;
	float: none
}

/* Footer */
#footer {
	border-top: 1px solid #d0d3d8;
	padding: 0.5em 0;
	position:relative;
	width:100%;
	/*background-color:#efefef;*/
}

#footer-in
{
	margin:0 auto;
	width:1170px;
}	

 @media (max-width: 1050px) 
{
	#footer-in
	{
		width:980px;
	}
}

#footer-2 {
	border-top: 1px solid #d0d3d8;
	padding: 0.5em 0;
	position:relative;
	width:100%;
	background-color:#ffffff;
	height:100px;
}

#footer-2-in
{
	margin:0 auto;
	width:900px;
}	

 @media (max-width: 1050px) 
{
	#footer-2-in
	{
		width:900px;
	}
}


#footer h3
{
	display:block;
	width:150px;
	padding-bottom:2px;
	border-bottom:1px solid black;
}	

#footer-social
{
	position:relative;
	float:left;
	width:180px;
	text-align:center;
}

 @media (max-width: 1050px) 
{
	
}

#footer-bottom
{
	max-width:640px;
	position:relative;
	float:left;
	text-align:left;
}	



/* Default block style */
div.block-cms h1 a { color: #374853; text-decoration: none; }
div.block-cms h1 a:hover { text-decoration: underline; }
div.block {
	font-size: 15px;
border:1px solid #d4d4d4;
	margin-bottom: 1em;
	width: 232px
}

 @media (max-width: 1050px) 
{
	div.block {
		font-size:12px;
		width: 177px
	}	
	
	div.block img, #left_column img {
		max-width:177px;
	}	
}	



#left_column div.block,
 #right_column div.block {
	padding-bottom: 5px;
	/*border-radius:7px;
	-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/

}

div.block h4 {
	font-family: Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
	/*border:1px solid #d4d4d4;*/
	text-align:center;
	font-size: 13px;
	padding-top: 10px;
	line-height: 1.3em;
	color: #ffffff;
	text-transform:uppercase;
	font-weight:normal !important;
	height: 26px;
	background-image: url('../img/header_block_bg_3.jpg');

}
div.block h4 span {
color: #ffffff;
}

div.block h4 a { color: #ffffff; text-decoration: underline }
div.block ul { list-style: none }
div.block ul.tree li { padding-left: 1.2em }
div.block a:hover { text-decoration: underline }
#left_column div.block .block_content a.button_large,
 #right_column div.block .block_content a.button_large { margin: 0 0 0 -3px }
div.block .block_content {
	border-left: 1px #d0d3d8;
	border-right: 1px #d0d3d8;
	padding: 0 0.7em;
	min-height: 16px
}
div.block li {
	padding: 0.2em 0 0.2em 0em;
	list-style-position: outside
}
div.block a {
	color: #383838;
	text-decoration: none
}

/* block exclusive */
#left_column div.exclusive, #right_column div.exclusive {
}
div.exclusive h4 {
	background: transparent no-repeat top left;
	color: white
}
div.exclusive h4 a { color: white }
div.exclusive li { margin-top: 0 }
div.exclusive, div.exclusive a { color: #383838 }
div.exclusive .block_content {

}

div.block2 
{
border:1px solid #d4d4d4;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
position:relative; 
float:left; 
margin-bottom:15px;
}

div.block2 h3
{
height:31px;
border-bottom:1px solid #d4d4d4;
padding-top:7px;
position:relative;
margin-top:0px;
text-align:center;
height:
z-index:0;
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(top, #ececec 54%, #ffffff 100%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,#ececec), color-stop(100%,#ffffff), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ececec 54%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ececec 54%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ececec 54%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ececec 54%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
/*border-top-left-radius:7px;
border-top-right-radius:7px;
-moz-border-top-left-radius:7px;
-moz-border-top-right-radius:7px;
-webkit-border-top-left-radius:7px;
-webkit-border-top-right-radius:7px;*/
}

div.block2 div
{
padding-left:8px;
padding-right:8px;
}

div.block2 div a
{
color:#000000;
text-decoration:none;
}

div.block2 img.img-bottom 
{
position:absolute;
bottom:0px;
/*border-bottom-left-radius:7px;
border-bottom-right-radius:7px;
-moz-border-bottom-left-radius:7px;
-moz-border-bottom-right-radius:7px;
-webkit-border-bottom-left-radius:7px;
-webkit-border-bottom-right-radius:7px;*/
}




/* block in the center column */
#center_column p { margin: 0.5em 0; padding-left: 0.7em }
#center_column div.block { width: 536px; margin: auto }
#center_column div.block h4 {
	background: transparent url('../img/block_header_large.png') no-repeat top left;
	height: 17px;
	color: white
}

/* Styles for products blocks */

/* block products (new, features, viewed, etc...) on left and right column */
.products_block li { margin-top: 0.2em }
.products_block li.item img { margin-right: 5px }
.products_block li.last_item { border: none }
.products_block li img {
	float: left;
	margin-right: 0.2em
}
.products_block p img {
	float: none;
	margin: 0 0 0 0.4em
}
.products_block li h5 {
	display: inline;
	font-size: 0.9em
}
.products_block li p a {
	font-weight: bold;
	font-size: 0.8em
}
.products_block dl {
	clear: both;
	border-top: 1px solid #374853;
	padding: 0 4px 4px
}
.products_block dl dt {
	margin-top: 0.3em;
	color: #595a5e
}
.products_block a.button_large { margin: 0.4em 0.4em 0 0.4em }
.products_block ul.product_images li {
	border: none;
	float: left;
	clear: none
}

/* Special style for block products in center column */
#center_column .products_block { border: none }
#center_column .products_block { color: #595a5e }
#center_column .products_block h4 { line-height: 1.3em }
#center_column .products_block .block_content {
	background: #d0d3d8 none;
	padding: 0
}
#center_column .products_block ul li:hover { background-color: #bdc2c9 }
#center_column .products_block ul li {
	float: left;
	background-color: #d0d3d8;
	margin-top: 0;
	padding: 0 0 1px;
	width: 133px;
	border-right: 1px solid white;
	border-bottom: 1px solid white
}
#center_column .products_block ul .product_accessories_description {
	margin: 0;
	padding: 0;
	height: 280px
}

/*#center_column .products_block li.last_item { float: none; clear: both }*/
#center_column .products_block li.last_item_of_line { border-right: none }
#center_column .products_block li.first_item_of_line { clear: both }
#center_column .products_block li.last_line { border-bottom: none }
#center_column .products_block p, #center_column .products_block h5 { margin: 0.5em 0.1em }
#center_column div.products_block h5 {
	display: block;
	margin-top: 8px;
	height: 2.57em
}
#center_column div.products_block h5 a {
	color: #374853;
	font-size: 1.1em
}
#center_column div.products_block ul li p {
	margin: 0;
	padding: 0
}
#center_column div.products_block div.product_desc {
	height: 9em;
	color: #595a5e;
	overflow: hidden
}
#center_column div.products_block a.product_image {
	display: block;
	background-color: transparent;
	margin-bottom: 2px;
	margin-left: 2px;
	width: 129px;
	height: 129px
}
#center_column div.products_block .product_accessories_description a.product_image {
	width: 160px;
	height: 125px
}
#center_column div.products_block a.product_description {
	display: block;
	width: 160px;
	height: 50px;
	margin-left: 2px;
	margin-bottom: 8px;
	overflow:hidden
}

#center_column div.products_block a.product_image img {
	float: none;
	margin: 0
}
#center_column div.products_block h5 { margin: 10px 5px 3px 5px }
#center_column div.products_block div.product_desc { margin: 0 5px }
#center_column div.products_block ul li div.product_desc a { font-weight: normal }
#center_column .products_block span.price {
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em 0;
	/*display: block;*/
}
p.price_container { text-align: center }
#center_column .products_block .featured_price { margin-top: 2.5em }
#center_column .products_block a.button,
 #center_column .products_block a.exclusive,
  #center_column .products_block span.exclusive { margin: 0.5em auto }

/* Special style for block accessories in center column (product page) */
#center_column .products_block.accessories_block .block_content { background: none }
#center_column div.products_block.accessories_block div.product_desc { 
	margin-right: 0;
	height: 150px; 
	border-right: 1px solid #d0d3d8 
}
#center_column .products_block.accessories_block .block_content li { background: none; text-align: center }
#center_column .products_block.accessories_block .block_content li h5,
 #center_column .products_block.accessories_block .block_content li a.product_description { text-align:left }
#center_column .products_block.accessories_block .block_content li.last_item a.product_image { border: none }

/* discount.tpl */
td.discount_value { white-space: nowrap }

/* address.tpl */
p.address_navigation { 
	padding: 1em 0!important;
	margin-bottom: 1.5em
}
p.address_navigation a.button { float: left }
p.address_navigation input[type=submit].button { float: right }

/* shopping cart */
.cart_last_product { 
	width: 300px;
	margin: 0 auto 12px
}
.cart_last_product_header,
.cart_last_product_header .left {
	background: url('../img/table_header.gif') right 0;
}
.cart_last_product_header .left {
	background-color:#fff;
	background-position:0 0;
	margin-bottom:5px;
	padding-left: 27px;
	width: 249px;
	height: 24px;
	line-height: 24px;
	color: #374853;
	font-weight: bold
}
.cart_last_product_img { float:left }
.cart_last_product_img img {
	margin:0 6px;
	border:1px solid #D0D1D5;
	width: 45px;
	height: 45px
}
 .cart_last_product_content { 
	float:right; 
	width:241px 
}
.cart_last_product_content a { text-decoration:none }
.cart_last_product_content h5 { font-size:9px }
.cart_last_product_content h5 a { color:#595A5E }

p.cart_navigation { padding: 1em 0!important }
p.cart_navigation .button,
 p.cart_navigation .button_large { float: left }
p.cart_navigation .exclusive,
 p.cart_navigation .exclusive_large,
 p.cart_navigation .exclusive_large_disabled { float: right }
p.cart_navigation_extra {
	text-align: center;
	width: auto
}
form.std p.cart_navigation span {
	float: none;
	text-align: left;
	width: auto
}
#cart_summary tfoot td {
	border-top: none;
	line-height: 1.5em
}
#cart_summary tfoot tr.cart_total_product td { border-top: 1px solid #bdc2c9 }
#cart_summary tfoot tr.cart_total_price td { border-bottom: 2px solid #bdc2c9 }
#cart_summary .price, #cart_summary .price-discount {
	color: #595A5E;
	font-size: 1em;
	text-decoration: none
}
tr.cart_item td { padding: 0.5em 0 }
td.cart_product a { margin: 0 0.6em }
td.cart_product a img {
	border: 1px solid #d0d1d5;
	width: 45px;
	height: 45px
}
td.cart_product a:hover img { border: 1px solid #888 }
td.cart_description a { font-size:12px; text-decoration: none }
td.cart_description a:hover { text-decoration: underline }
td.cart_description h5 a, td.cart_ref, td.cart_total { color: #595a5e }
td.cart_unit, td.cart_total, td.cart_discount_price { text-align: right }
td.cart_availability, td.cart_ref { text-align: center }
td.cart_total .price { font-weight: bold }
tr.cart_item td.cart_unit { padding-right: 1em }
td.cart_quantity {
	width: 7.5em;
	text-align: right
}
.cart_quantity_input { float: right; margin: 5px 10px 0 0; }
td.cart_quantity p, td.cart_quantity a {
	float: left;
	display: inline
}
td.cart_quantity p { padding-right: 0.3em }
td.cart_quantity .icon { margin-top: 0.6em }
td.cart_quantity a.cart_quantity_up,
 td.cart_quantity a.cart_quantity_down { display: block }
tr.cart_free_shipping { white-space: normal }
tr.cart_total_price { font-weight: bold }
#order tfoot p {
	margin: 0;
	float: left;
	width: 85%
}
#order tfoot span {
	float: right;
	width: 15%;
	display: block
}
#order #voucher fieldset {
	border: 1px solid #bdc2c9;
	padding: 0.7em
}
#order form#voucher fieldset #display_cart_vouchers {
	margin-top:5px;
	clear:both;
	float:left;
}
#order form#voucher fieldset #display_cart_vouchers .voucher_name {
	color:#DD2A81;
	font-weight:bold;
	cursor:pointer;
}
#order form#voucher h4,
 #order form#voucher p,
 #order form#voucher .button { display: inline }
#order form#voucher h4 {
	float: left;
	line-height: 1.5em;
	margin-right: 6em
}
#order #order_carrier {
	clear: both;
	margin-top: 1em;
	border: 1px solid #bdc2c9;
	padding: 0.5em
}
#order #order_carrier h4 {
	width: 50%;
	display: inline
}
#order #order_carrier img { vertical-align: middle }
#order #order_carrier span { margin: 0 0.2em }
#order #gift_div { display: none }
#order #gift_div label, #order #gift_div textarea {
	display: block;
	width: 100%;
	margin: 1em 0
}

#order-opc tfoot p {
	margin: 0;
	float: left;
	width: 85%
}
#order-opc tfoot span {
	float: right;
	width: 15%;
	display: block
}
#order-opc #voucher fieldset {
	border: 1px solid #bdc2c9;
	padding: 0.7em
}
#order-opc form#voucher fieldset #display_cart_vouchers {
	margin-top:5px;
	clear:both;
	float:left;
}
#order-opc form#voucher fieldset #display_cart_vouchers .voucher_name {
	color:#DD2A81;
	font-weight:bold;
	cursor:pointer;
}
#order-opc form#voucher h4,
 #order-opc form#voucher p,
 #order-opc form#voucher .button { display: inline }
#order-opc form#voucher h4 {
	float: left;
	line-height: 1.5em;
	margin-right: 6em
}
#order-opc #order_carrier {
	clear: both;
	margin-top: 1em;
	border: 1px solid #bdc2c9;
	padding: 0.5em
}
#order-opc #order_carrier h4 {
	width: 50%;
	display: inline
}
#order-opc #order_carrier img { vertical-align: middle }
#order-opc #order_carrier span { margin: 0 0.2em }
#order-opc #gift_div label, #order #gift_div textarea {
	display: block;
	width: 100%;
	margin: 1em 0
}

#guest-tracking p.center { width: 100%; text-align: center; }
#guest-tracking p.center input.exclusive_large { display: inline; }

/* views block */
#views_block {
position:relative;
	margin: 0 auto;
	width: 330px;
	margin-left:0px;
}

#views_block #left-arrow {
position:absolute;
top:20px;
left:0px;
}


#thumbs_list {
	overflow: hidden;
	float: left;
	width: 169px
}
#thumbs_list ul {
	padding-left: 0;
	list-style-type: none;
	margin-top: 5px
}
#thumbs_list li {
	float: left;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	border: #d4d4d4 solid 1px;
	/*border-radius:7px;
	-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/

}

#thumbs_list li  img{
	/*border-radius:7px;
	-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/

}

#video_list {
	overflow: hidden;
	float: left;
	margin-right:0px;
	width: 70px
}
#video_list ul {
	padding-left: 0;
	list-style-type: none;
	margin-top: 5px
}
#video_list li {
	cursor: pointer;
	width: 66px;
	height: 24px;
}



#view_scroll_left, #view_scroll_right {
	background: url('../img/thumbs_left.gif') no-repeat center;
	text-indent: -3000px;
	width: 9px;
	height: 18px;
	float: left;
	margin-top: 26px;
	padding-right: 4px;
	padding-left: 4px
}
#view_scroll_right { background-image: url('../img/thumbs_right.gif') }
span.view_scroll_spacer {
	float: left;
	width: 17px;
	height: 80px
}

/* manufacturers-list.tpl && suppliers-list.tpl */
#manufacturers_list, #suppliers_list {
	list-style-type:none;
	margin-top: 2em;
}
#suppliers_list li, #manufacturers_list li.lista {
	/*background: #d0d3d8 url('../img/block_category_item_bg.jpg') repeat-x;*/
	border-bottom: solid 1px #d0d3d8;
	padding: 0.6em;
	margin-bottom: 1.5em;
}

li.lista_produttori {
	width:200px;
	border:0px;
	display:block;
	float:left;
	text-align:center;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	border:1px solid #d4d4d4;
}

div.manufacturer_column {
	position:relative;
	display:block;
	float:left;
	width:23% !important;
}	

#suppliers_list li a, #manufacturers_list li a {
	text-decoration: none;
	color: #374853
}
#suppliers_list li h3, #manufacturers_list li h3 { margin: 0.4em 0 }
#suppliers_list .left_side, #manufacturers_list .left_side {
	float: left;
	width: 75%
}
#suppliers_list .logo, #manufacturers_list .logo {
	border: solid 1px #d0d3d8;
	float: left;
	margin-right: 0.6em
}
#suppliers_list li p.description,
#manufacturers_list li p.description { font-size: 0.92em }
#suppliers_list li .right_side,
#manufacturers_list li .right_side {
	float: right;
	text-align: right
}
#suppliers_list .right_side span,
#manufacturers_list .right_side span {
	font-size: 1.7em;
	color: #da0f00
}

/* conditions & legal */
ul.shop_info {
	list-style-type: square!important;
	list-style-position: inside;
	padding: 0.6em;
	margin-top: 0.6em;
	margin-left: 2em;
	border: 1px solid #888
}
ul.shop_info li {
	padding-left: 0.5em!important;
	padding-bottom: 0.5em!important
}

/* conditions.tpl */
#conditions #right_column { display: none }
#conditions h2 { background: transparent url('../img/title_bg_large.gif') no-repeat top left }
#conditions #center_column {
	width: 730px;
	text-align: justify
}
#conditions #center_column ul,
 #conditions #center_column ol {
	margin-left: 2em;
	padding: 0.6em
}
#conditions #center_column ul { list-style-type: circle }
#conditions #center_column li { padding-bottom: 0.5em }
#conditions #center_column { line-height: 1.3em }

/* order step 3: PAYMENT */
.payment_module { display: block }
.payment_module img {
	vertical-align: middle;
	margin-right: 1em
}
.payment_module a {
	display: block;
	padding: 0.6em;
	color:#000;
	border-bottom:1px solid #c1c1c1;
	text-decoration: none
}
.payment_module a:hover, .payment_module a:focus, .payment_module a:active {
	background-color: #e5e6e7;
	color: #374853
}


#manufacturer-description ul li { margin-left:35px; }
#category-description ul li { margin-left:35px; }


/* Printable version */
@media print {
	div#left_column, div#right_column, div#footer, a.button, span.button , .button, ul#usefull_link_block, div#header_user, #languages_block_top, #search_block_top, #currencies_block_top, ul#header_links, ul.idTabs, #availability_statut br {
		display: none
	}
	div#center_column { width: 782px }
	input.text { border: 1px solid gray }
	.block_hidden_only_for_screen { 
		display: block; 
		margin-top: 1em 
	}
	#more_info_sheets #idTab1 { width: 530px }
	* { 
		background: none!important; 
		background-color: white!important; 
	}
}

/* Customizable product */
#customization_block { width: 556px }
.customization_block_title { margin: 4px 4px 4px 2px }
#customization_block ul { margin: 6px 6px 0 6px }
.customization_block_input { vertical-align: inherit }
img.customization_delete_icon { margin: 2px }
li.customizationUploadLine {
	text-align: right;
	margin-right: 40px;
	clear: left;
	padding: 4px;
	display: block
}
div.customizationUploadBrowse { float: left }
div.customizationUploadBrowseDescription { padding: 6px }
img.customizationUploaded {
	margin: 2px;
	border: 1px solid #888888
}
ul.customizationUploaded {
	list-style-type: none;
	margin-left: 4px
}
ul.customizationUploaded li { display: inline }
ul.customizationUploaded a { text-decoration: none }
div.customizationUploaded { clear: left }
div.deletePictureUploaded { float: right }
div.deleteCustomizableProduct { float: right }
ul.typedText {
	padding-left: 6px;
	list-style-type: none
}
/* mywishlist */
#mywishlist div#block-order-detail form.wl_send fieldset p input { margin-left: 60px }
#mywishlist div#block-order-detail {
	margin-top: 10px; 
	display: block
}
#mywishlist form.std fieldset label { width: 30px }
#mywishlist form.std fieldset input#submitWishlist { display: inline }
#mywishlist table.std thead th.mywishlist_first {
	text-align: center;
	width: 40px
}
#mywishlist table.std thead th.mywishlist_second {
	text-align: center;
	width: 80px
}
#mywishlist table.std thead th.first_item,
#mywishlist table.std tbody tr td { width: 200px }
#mywishlist div#block-order-detail ul li span.wishlist_product_detail select { margin: 0 }
#mywishlist div#block-order-detail { margin-top: 10px }
#mywishlist #hideBoughtProducts,
#mywishlist #showBoughtProducts {
	float: left;
	margin: -18px 0 0 5px
}
#mywishlist #showBoughtProducts,
#mywishlist #hideBoughtProductsInfos,
#mywishlist #hideSendWishlist { display: none }
#mywishlist #showBoughtProductsInfos,
#mywishlist #hideBoughtProductsInfos { margin-left: 5px }
#mywishlist #showSendWishlist,
#mywishlist #hideSendWishlist,
#mywishlist div#block-order-detail ul li a.exclusive {
	float: right;
	margin: -18px 0 0 0
}
#mywishlist div#block-order-detail table.wlp_bought_infos thead tr th { text-align: center }
#mywishlist div#block-order-detail table.wlp_bought_infos thead tr th.first_item { width: 300px }
#mywishlist div#block-order-detail table.wlp_bought_infos { margin: 0 0 0 10px }
#mywishlist div#block-order-detail ul li img { float: left }

/* View wishlish */
#view_wishlist #featured-products_block_center ul div li a img { float: left }
#view_wishlist #featured-products_block_center ul div li a,
 #view_wishlist #featured-products_block_center ul div li span {
	text-decoration: none;
	float: left
}
#view_wishlist #featured-products_block_center ul div li span.wishlist_product_detail,
 div#mywishlist div#block-order-detail ul li span.wishlist_product_detail {
	margin-left: 30px;
	float: left
}
div#mywishlist div#block-order-detail ul li span.wishlist_product_detail { margin-bottom: 5px } 
#view_wishlist #featured-products_block_center ul div li a.exclusive,
 #view_wishlist #featured-products_block_center ul div li span.exclusive {
	margin-left: 55px
}
#view_wishlist #featured-products_block_center ul div li.address_name input.text {
	color: #999;
	font-weight: bold;
	font-size: 11px;
	border: 0
}

/* module reversoform*/
.account_creation #reverso-form { width: 100% }
.account_creation #reverso-form label {
	width: 250px;
	text-align: left;
	margin-left: 10px
}
.account_creation #reverso-form label#legend_reverso {
	clear: both;
	width: 100%;
	font-size: 10px;
	text-align: left
}
.account_creation #reverso-form input#reverso_form { margin-top: 20px }

/* module productcomments */
.rating {
	cursor: pointer;
	margin: 2em;
	clear: both;
	display: block
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden
}
.cancel, .star {
	float: left;
	width: 17px;
	height: 15px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer
}
/*.cancel, .cancel a { background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px }*/
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
.star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0
}
div.star_on a { background-position: 0 -16px }
div.star_hover a, div.star a:hover { background-position: 0 -32px }
.pack_content { margin: 10px 0 10px 0 }
.pack_price {
	float: right; 
	margin-right: 3px; 
	font-size: 12px
}
.confirmation { 
	color: #808000; 
	font-weight: bold 
}
#page .rte { background: transparent none repeat scroll 0 0 }

/* module paypalapi */
.paypalapi_about { text-align: justify }
.paypalapi_about ul { padding-left: 20px }

/* cms pages */
#cms div.content_only { 
	text-align: left; 
	padding: 10px 
}

.page404_input { float: left; }

#order #discount_name { width: 130px; }

ul.menucategory li.cat a:link {
color:#ffffff;
text-decoration:none;
}

ul.menucategory li.cat a:visited {
color:#ffffff;
text-decoration:none;
}

ul.menucategory li.cat a:hover {
color:#ffffff;
text-decoration:underline;
}

ul.menucategory li.cat ul.int-category a:link {
color:#272973;
text-decoration:none;
font-weight:normal;
}

ul.menucategory li.cat ul.int-category a:visited {
color:#272973;
text-decoration:none;
font-weight:normal;
}

ul.menucategory li.cat ul.int-category a:hover {
color:#272973;
text-decoration:underline;
font-weight:normal;
}

ul.menucategory li.cat ul.int-categ-marg a:link {
color:#272973;
text-decoration:none;
font-weight:normal;
}

ul.menucategory li.cat ul.int-categ-marg a:visited {
color:#272973;
text-decoration:none;
font-weight:normal;
}

ul.menucategory li.cat ul.int-categ-marg a:hover {
color:#272973;
text-decoration:underline;
font-weight:normal;
}


ul.menucategory li.cat div.submenu a:link {
color:#272973;
text-decoration:none;
}

ul.menucategory li.cat div.submenu a:visited {
color:#272973;
text-decoration:none;
}

ul.menucategory li.cat div.submenu a:hover {
color:#272973;
text-decoration:underline;
}

ul.menucategory li.cat h3.category a:link {
background-color:#da6600;
font-size:13px;
padding:3px;
padding-top:1px;
display:block;
width:160px;
margin-top:4px;
color:#ffffff;
text-decoration:none;
text-align:center;
border:1px solid #ffffff;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;
*/
}

ul.menucategory li.cat h3.category a:visited {
background-color:#da6600;
font-size:13px;
padding:3px;
padding-top:1px;
display:block;
width:160px;
margin-top:4px;
color:#ffffff;
text-decoration:none;
text-align:center;
border:1px solid #ffffff;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/

}

ul.menucategory li.cat h3.category a:hover {
background-color:#da6600;font-size:13px;
padding:3px;
padding-top:1px;
display:block;
width:160px;
margin-top:4px;
color:#ffffff;
text-decoration:underline;
text-align:center;
border:1px solid #ffffff;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/

}

a.box-sx-img {
margin-bottom:10px;
display:block; 
padding-top:2px;
width:232px; 
border:1px solid #d4d4d4; 
text-align:center;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/

}

 @media (max-width: 1050px) 
{
	a.box-sx-img {
		width:177px;
	}	
}


.box-carrello-img {
margin-bottom:10px;
display:block; 
padding-top:12px;
padding-left:54px;
width:122px; 
background-repeat:no-repeat;
text-align:left;
font-weight:bold;
height: 18px; 
color:#ef6018;
margin-top:10px; 
margin-bottom:20px;
margin-right:2%;
border:1px solid #d4d4d4;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
/*box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
				0 0 1px 1px rgba(255,255,255,0.8),
				0 0 0 6px rgba(0,0,0,0.06),
				0 0 0 3px rgba(0,0,0,0.1);
*/
}

.styled-select {
width: 160px;
padding-top:2px;
   height: 25px;
   overflow: hidden;
   border:1px solid #d4d4d4;
   background-image: url('../img/select-arrow.jpg');
   background-repeat:no-repeat;
   background-position:right;
 /*  -border-radius:5px;
border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
-webkit-border-radius:5px;*/
-moz-appearence:none;
-webkit-appearence:none;
appearence:none;

}

.styled-select select {
border:0px;
width:300px;
background: transparent;
height:25px;
cursor:pointer;


}

input[type=checkbox] {
border:0px;
}



.shopping_cart_table {
/*width:775px;*/
border:3px solid #db6906;
/*border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
-o-border-radius:7px;
border-top-left-radius:0px;
-moz-border-top-left-radius:0px;
-webkit-border-top-left-radius:0px;
-o-border-top-left-radius:0px;
*/
display:block;
margin-top:-3px;

}

.shopping_cart_table thead {
background-color:#efefef;
/*border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
-o-border-radius:7px;*/

}

.shopping_cart_table table {
padding:5px;
/*border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
-o-border-radius:7px;
*/
}

#grazie_ordine {
background-color:#ffffff;
width:798px;
height:299px;
position:relative;

}

#grazie_ordine:before, #grazie_ordine:after
		{
		  z-index: -1;
		  position: absolute;
		  content: "";
		  bottom: 15px;
		  left: 10px;
		  width: 50%;
		  top: 80%;
		  max-width:720px;
		  background: #777;
		  -webkit-box-shadow: 0 15px 10px #777;
		  -moz-box-shadow: 0 15px 10px #777;
		  box-shadow: 0 15px 10px #777;
		  -webkit-transform: rotate(-3deg);
		  -moz-transform: rotate(-3deg);
		  -o-transform: rotate(-3deg);
		  -ms-transform: rotate(-3deg);
		  transform: rotate(-3deg);
		}
		#grazie_ordine:after
		{
		  -webkit-transform: rotate(3deg);
		  -moz-transform: rotate(3deg);
		  -o-transform: rotate(3deg);
		  -ms-transform: rotate(3deg);
		  transform: rotate(3deg);
		  right: 30px;
		  left: auto;
		}

h4.h4tab {
	/*	border-top-left-radius:7px !important;
	-webkit-border-top-left-radius:7px !important;
-moz-border-top-left-radius:7px !important;
-o-border-top-left-radius:7px !important;
		border-top-right-radius:7px !important;
	-webkit-border-top-right-radius:7px !important;
-moz-border-top-right-radius:7px !important;
-o-border-top-right-radius:7px !important;
*/
	background-image: url('../img/tab_bg_selected_short_2.jpg');
	display: block;
	margin-top:0px;
	margin-bottom:5px;
	height:19px;
	background-repeat:repeat;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-size:14px;

}


.shopping_cart_table  ul {
margin-left:20px;
}


input {
font-family:Verdana, Tahoma, Sans-Serif;
}

.cart_navigation .exclusive {
height:22px !important;
width:150px !important;
text-align:center !important;
padding-top:8px !important;
/*color:#000099;*/
font-weight:bold;
margin-left:-10px;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
text-decoration:none;
}

.cart_navigation input.exclusive {
border:0px;
margin-right:7px;
height:30px !important;
width:150px !important;
text-align:center !important;
padding-top:3px !important;
/*color:#000099;*/
font-weight:bold;
margin-left:-10px;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
text-decoration:none;
}

#submitAddDiscount {
text-align:center;
border:0px; 
font-weight:bold;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
text-decoration:none;
}

.cart_navigation .exclusive:hover, .cart_navigation .button_large:hover, .payment_button .button_large:hover, .button_large:hover, .cart_navigation .button_large2:hover, #submitAddDiscount:hover, .acquista-listing-button .ajax_add_to_cart_button :hover {
background: #ffa84c; /* Old browsers */

background: -moz-linear-gradient(top, #ffa84c 0%, #ef6018 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ef6018)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffa84c 0%,#ef6018 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffa84c 0%,#ef6018 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffa84c 0%,#ef6018 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffa84c 0%,#ef6018 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ef6018',GradientType=0 ); /* IE6-9 */
}

.button_large {
border:0px;
height:30px;
width:150px;
text-align:center;
/* color:#000099;*/
font-weight:bold;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
text-decoration:none;
/*
-webkit-box-shadow: 0px 0px 16px rgba(70, 50, 50, 0.79);
-moz-box-shadow:    0px 0px 16px rgba(70, 50, 50, 0.79);
box-shadow:         0px 0px 16px rgba(70, 50, 50, 0.79);
*/
}

.button_large img{
margin-top:-3px;
margin-left:7px;
float:left;
}

.button_large span{
}


.acquista-listing-button .ajax_add_to_cart_button  {
border:0px;
padding-top:6px;
padding-bottom:6px;
padding-left:20px;
padding-right:5px;
width:115px;
text-align:right;
display:block !important;
float:right;
text-align:center;
color:#ffffff;
background-color:#ef6018 !important;
background-image:url('../img/icon/cart-block-3.png');
background-repeat:no-repeat;
font-weight:bold;
border:0px !important;
font-size:15px;
text-decoration:none;
font-variant:small-caps;
}

.acquista-listing-button-product .ajax_add_to_cart_button  {
border:0px;
padding-top:5px;
padding-bottom:5px;
padding-left:20px;
padding-right:5px;
width:75px;
text-align:right;
display:block !important;
margin-top:3px;
margin-left:43px;
text-align:center;
color:#ffffff;
background-color:#ef6018 !important;
background-image:url('../img/icon/cart-block-3.png');
background-repeat:no-repeat;
font-weight:bold;
border:0px !important;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
text-decoration:none;
}

.cart_navigation .button_large2 {
padding-top:8px !important;
height:30px !important;
margin-left:5px !important;
width:370px !important;
text-align:center !important;
/* color:#000099;*/
font-weight:bold;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
text-decoration:none;
	color:#ffffff;
	background-color:#ef6018;
/*
-webkit-box-shadow: 0px 0px 16px rgba(70, 50, 50, 0.79);
-moz-box-shadow:    0px 0px 16px rgba(70, 50, 50, 0.79);
box-shadow:         0px 0px 16px rgba(70, 50, 50, 0.79);
*/
}

table.authentication {
width:80%;
border:0px;
margin: 0 auto;
}

table.authentication td {
border:0px;
}

table.authentication input[type='text'], table.authentication input[type='password'] {
height:20px;
}

.myaccount h5 {
font-size:12px;
font-family:Arial;
font-weight:bold;
text-align:center;
margin-top:3px;
margin-bottom:5px;
}

.my-account-block {
border:1px solid #d4d4d4;
left:0px;
position:relative;
text-align:center;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
margin-bottom:25px;

}

#tooltip {
				position: absolute;
				z-index: 3000;
				width:350px;
				border: 1px solid #111;
				background-color: #eee;
				padding: 5px;
				text-align:left;
			}
#tooltip h3, #tooltip div { text-align:left; }

div.cheapnet {
position:absolute;
top:0px;
right:0px;
opacity:0.7;
}

div.coupon {
position:absolute;
top:-5px;
left:-5px;
z-index:14;
}

div.kit-listing {
position:absolute;
top:0px;
left:0px;
opacity:0.8;
}

#opc-account label {
text-align:left;
}

td.tdfooter {
text-align:left;
vertical-align:top;
width:20%;

}

a.facebook {
display:block;
width:25px;
height:25px;
background-image: url('../../../../img/socialbutton_sprite.gif');
background-position:0px 0px;
} 
a.twitter {
display:block;
width:25px;
height:25px;
background-image: url('../../../img/socialbutton_sprite.gif');
background-position:75px 0px;
} 

a.linkedin {
display:block;
width:25px;
height:25px;
background-image: url('../../../img/socialbutton_sprite.gif');
background-position:50px 0px;
} 

a.googleplus {
display:block;
width:25px;
height:25px;
background-image: url('../../../img/socialbutton_sprite.gif');
background-position:25px 0px;
} 

span.manufacturer-title {
	font-size: 16px;
	color:#000066;
	display:block;
	margin:0 auto;
	text-align:center;
	padding-bottom:5px;
	width:100%;
	font-weight: bold;
	font-family:Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
}

		
	#hint{
		cursor:pointer;
	}
	.tooltip{
		margin:8px;
		text-align:left;
		padding:8px;
		border:1px solid #e62026;
		background-color:#ffffff;
		position: absolute;
		z-index: 2;
	}
	
a.prices_drop_button {
font-family:'Arial';
border:0px;
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
float:left;
margin-right:10px;
margin-bottom:10px;
padding-top:1px;
height:35px;
width:146px;
text-align:center;
color:#ffffff;
font-variant:small-caps;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
text-decoration:none;
background-image:url('../img/sfondo_menu.gif');
background-color:#1919d3;
}

a.prices_drop_button:hover {
background-color:#de7613;
background-image:none;
color:#ffffff;
}

span.subitem-description-child {
color:#0645AD;
cursor:pointer;
text-decoration:underline;
}

span.subitem-description-child :hover {
text-decoration:none;
}

.button-bg-giallo, .button-bg-giallo a  {

height:19px;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
padding-top:4px;
padding-bottom:4px;
text-align:center;
font-size:11px;
color:#000000 !important;
padding-left:6px;
padding-right:6px;
/*
background-image:url('../img/button-bg-giallo.png');
*/
background: #ffe38c; /* Old browsers */
background: -moz-linear-gradient(top, #ffe38c 17%, #ffb600 54%, #ffe38c 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,#ffe38c), color-stop(54%,#ffb600), color-stop(87%,#ffe38c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffe38c 17%,#ffb600 54%,#ffe38c 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffe38c 17%,#ffb600 54%,#ffe38c 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffe38c 17%,#ffb600 54%,#ffe38c 87%); /* IE10+ */
background: linear-gradient(to bottom, #ffe38c 17%,#ffb600 54%,#ffe38c 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe38c', endColorstr='#ffe38c',GradientType=0 ); /* IE6-9 */
}

span.stars, span.stars span {
    display: block;
	float:left;
	margin-right:8px;
    background: url('../img/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.to-top {
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
display:inline-block;
height:40px;
width:40px;
position: fixed;
bottom:50px;
border:1px solid #ababab;
box-shadow:0 0 10px rgba(0,0,0,0.05);
overflow:hidden;
text-indent:100%;
white-space:nowrap;
visibility:hidden;
opacity:0;
background-color:#ebebeb;
left:20px;
/*
 left: 50%;
    transform: translate(-50%, 0);
	*/
z-index:9999999;
}
 
.to-top.top-is-visible {
visibility:visible;
opacity:1;
}
 
.to-top.top-fade-out {
opacity:.5;
}
 
.no-touch .to-top:hover {
background-color:#e86256;
opacity:1;
}

.back-to-top-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	margin-left:10px;
	margin-top:15px;
	border-bottom: 10px solid #ababab;
}

#cart_env .button_large
{
	background-color:#000099 !important;
}

.bubble
{
color:#ffffff;
position: relative;
height: 30px;
padding: 0px;
background: #CE3300;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #1A2730 solid 2px;
padding:5px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #CE3300 transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 147px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 16px 16px 0;
border-color: #1A2730 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -18px;
left: 146px;
}

a.anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden;
}

.ribbon, .ribbon_gold {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 135px; height: 135px;
  text-align: right;
}
.ribbon span, .ribbon_gold span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-transform:uppercase;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 170px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FF3838 0%, #A30505 100%);
  box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 44px; right: -31px;
}
.ribbon span::before, .ribbon_gold span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #A30505;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #A30505;
}
.ribbon span::after, .ribbon_gold span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #A30505;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #A30505;
}

.ribbon_gold span {
  color: #000;
  background: #79A70A;
background: #fcea46; /* Old browsers */
background: -moz-linear-gradient(top, #fcea46 0%, #efd213 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcea46 0%,#efd213 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcea46 0%,#efd213 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcea46', endColorstr='#efd213',GradientType=0 ); /* IE6-9 */
opacity:0.6;
}

.ribbon_gold span::before{
	border-left: 3px solid #FFC814;
border-top: 3px solid #FFC814;
	
}

.ribbon_gold span::after {
border-right: 3px solid #FFC814;
border-top: 3px solid #FFC814;

}

.quantity_input_div {
	position:relative;
	width:70px;
	float:left;
}

.quantity_input {
	display:block;
	float:left;
	text-align:right;
	height:26px !important;
	position:relative;
}	

.quantity_input_buttons {
	float:left;
	height:26px;
	width:23px;
	border:1px solid #bdc2c9;
	border-left:0px;
}

.quantity_input_buttons span
{
	display:block;
	width:100%;
	text-align:center;
	font-size:16px;
	font-weight:bold !important;
	cursor:pointer;
	height:13px;
	font-family:'Arial';
	line-height:13px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently*/
}	

.quantity_input_buttons .span_up
{
	
	border-bottom:1px solid #bdc2c9;
	padding-top:-6px;
}

.quantity_input_buttons .span_down
{
	font-size:18px !important;
	padding-top:-5px;
	line-height:9px;
}	

 @media (max-width: 1050px) 
{
	.l-img
	{
		/* width:80%; */
	}
}
