/* product-list.tpl */

span.improve-your-search {
font-size:11px;
font-weight:bold;
z-index:9;
position:absolute;
bottom:5px;
}

span.improve-your-search, p.fp a:link {
text-decoration:underline !important;
}

span.improve-your-search, p.fp a:visited {
text-decoration:underline !important;
}

span.improve-your-search, p.fp a:hover {
text-decoration:none !important;
}

.listing_titles:hover
{
	opacity: .6 ;
}

ul#product_list { margin-top: 2em; list-style-type: none }
ul#product_list li {
position:relative;
	padding: 6px;
	min-height: 145px;
	height: auto;
	clear: both;
	margin-bottom: 0.3em;
	border-bottom:1px solid #d4d4d4;
}
* html ul#product_list li {
	height: auto !important;
	height: 145px
}



ul#product_list li a, ul#product_list li a:link { 
	text-decoration: none !important;
	color: #374853;
}
ul#product_list a.product_img_link {
	margin-right: 0.6em;
	
}
ul#product_list li h3 { margin: 0.4em 0 }
ul#product_list li .new {
	background: transparent url(../img/flag_new_bg.jpg) repeat-x scroll 0%;
	color: white;
	font-size: 0.6em;
	font-weight: bold;
	margin: 0 1em 0 0;
	padding: 0 0.4em;
	text-transform: uppercase;
	vertical-align: 0.3em
}

ul#product_list li div.center_block {
	margin-left:0px;
	float: left;
	width: 80%;
	height: 195px;
	/*overflow:hidden; *************************************************************************************************************/ 
}

 @media (max-width: 1050px) 
{
	ul#product_list li div.center_block {
	height: 215px
	}
}

ul#product_list li div.d_block {
	position:absolute;
	top:90px;
	left:130px;
	width:500px;
}

ul#product_list li div.prd_compare_border {
	position:absolute;
	top:0px;
	left:10px;
	height:145px;
	width:3px;
	border-right:1px solid #d1d1d1;
	z-index:14;
}

ul#product_list li div.prd_compare {
	position:absolute;
	top:0px;
	left:0px;
	height:70px;
	width:20px;
	padding-top:60px;
	z-index:15;
}
ul#product_list li div.acquista-listing {
	text-align: right;
position:absolute;
width: 13.5em;
	top:10px;
	right:0px;
}

ul#product_list li div.right_block {
	position:absolute;
	right:0px;
	bottom:7px;
	width: 13.5em;
	text-align: right;
	margin-left: 0.8em;
	margin-top: 0;
}
ul#product_list li .discount, ul#product_list li .on_sale, ul#product_list li .online_only {
	color: #da0f00;
	text-transform: uppercase;
	font-weight: bold;
	display: block
}
ul#product_list li .reduction {
	display: block;
	margin-bottom: 0.3em
}
ul#product_list li .price {
	display: block;
	font-size: 1.5em;
	margin-bottom: 0.2em
}
ul#product_list li span.availability {
	color: #488c40;
	font-size: 12px;
}
ul#product_list li a.button { margin-top: 0.5em }
ul#product_list li p.compare input { vertical-align: text-bottom }

p.product_codes {
font-size:14px;
color:#656565;
text-align:left;
}

p.product_desc {
font-size:15px !important;
}

span.punti-di-forza {
font-size:12px;
margin-top:7px;
}

div.center_block_left {
position:relative;
float:left;
height:100%;
}

div.reviews-line {
float:left;
margin-right:13px;	
display:block;

height:22px;
padding-top:3px;


}	

#bottom-line
{
left:172px;
position:absolute;
bottom:5px;
}

div.reviews-line img, div.reviews-line input {
	float:left;
	margin-right:3px;
}


/* discount.tpl*/
#discount-table { color: #374853 }
.color-myaccount { color: #db6702 }
#discount-table { border: none }
#discount-table thead th { background-image: url('../img/block_myaccount_header_large.gif'); background-repeat:repeat;  text-align:center}
#discount-table thead th { color: white }
#discount-table tbody { background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left }
#discount-table tbody tr td { background-color: white }
#discount-table td.history_link {
	white-space: nowrap;
	text-align: right
}
#discount-table {
	border-top: 2px #db6702 solid;
	border-bottom: 2px #db6702 solid;
	padding: 0.5em;

}

#ordinamento-prodotti {
position:absolute;
top:-3px;
left:-200px;
}

img.ordinamentoimg {
cursor:pointer;
}

li.categories-links {
		display:inline; 
		padding-right:5px; 
		margin-right:5px; 
		border-right: 1px solid black
	}
	
li.categories_links_block {
		font-size:13px;
		margin-left:20px;
		color:#666666;
	}
	
li.categories_links_block  a {
	color:#666666;
}

.acquista-listing-button a, .acquista-listing-button input {
	margin-bottom:5px;
}	

/* product_list */
  @media (max-width: 1050px) 
{
	div.get-best-price, span.total_reviews
	{
		display:none;
	}
}
  @media (max-width: 600px) 
{
	ul#product_list li {
		min-height: 270px;
	}
	
	div.comparator-item
	{
		margin-left:-7px !important;
		clear:both;
	}
}
 @media (max-width: 550px) 
{
	div.comparator-item
	{
		margin-left:-7px !important;
		clear:none;
	}
	
	ul#product_list li
	
	{
		min-height:100% !important;
		
	}
	
	.punti-di-forza
	{
		width:100%;
	}
	#center_column
	{
		width:95%;
		margin-left:0px !important;
		padding:6px;
	}
	
	div.center_block_left {
		height: auto;
		float:none;
		width:100%;
	}
	
	#center_column p {
		margin: 0 !important;
		padding-left: 0 !important;
	}
	
	div.center_block {
		width:100% !important;
		float:none !important;
		height:auto !important;
	}
	
	ul#product_list li div.acquista-listing {
		position:relative;
		width:100%;
		text-align:left;
		top:0;
	}
	
	#bottom-line
	{
		position:relative !important;
		left:0 !important;
	}
	
	ul#product_list li div.right_block {
		position:relative;
	}
	
	p.product_codes
	{
		display:none;
	}
	
	ul#product_list li div.center_block a img {
		display:block;
		margin:0 auto;
	}	
	
	ul#product_list li div.right_block
	{
		width: 100% !important ;
	}
	
	.right_block div
	{
		position:relative !important;
		float:left;
		margin-top:0px !important;

	}
	
	#layered_block_left
	{
		display:none;
	}
	
	.acquista-listing-button, .ajax_add_to_cart_button
	{
		padding-left:0px !important;
		float:none;
		width:100% !important;
		margin:0 auto;
	}
	
	span.price
	{
		width:auto;
		clear:both;
	}
	
	span.price-kit
	{
		display:block !important;
		width: auto !important;
	
	}
	
	span.price-kit-ie
	{
		display:block !important;
		float:left;
	
	}
	
	.quantity-div
	{
		display:none;
	}
	
	img.sconti_quantita
	{
		display:block;
		position:relative;
		left:8px;
	}
	
	#ordinamento-prodotti span, #disponibilidesc, #vendutidesc, #dateadddesc
	{
		display:none !important;
	}
	
	 #ordinamento-prodotti
	{
		position:relative;
		top:0;
		left:0;
	}
	
	.block-sort
	{
		top:3px !important;
		width:auto !important;
	}
	
	#ordinamento-prodotti
	{
		top:0;
		left:0;
	}
	#ordinamento-prodotti div
	{
		margin-left:8px !important;
	}
	
	.block-compare
	{
		position: relative !important;
		width: 300px;
		top: 36px !important;
		left: -8px !important;
	}
}

/* fine product_list */
