 /* da global */

 @media (max-width: 768px) 
{
	body, #menu-alto, #contenitore, #footer, #footer-2
	{
		overflow-x: hidden !important;
	}
	#contenitore 
	{
		width:100% !important;
		min-width:0px;
	}
	
	#banner-home {
		display:none;
	}
	
	.breadcrumb
	{
		display:none;
	}
	
	div.home-low-level {
		width:100%;
		
	}
	
	div.home-low-level h5 {
		text-align:center !important;
	}
	
	div.home-low-level div {
		width:98% !important;
		
	}
	
	div.home-low-level img {
		display:block;
		position:relative !important;
		margin:0 auto !important;
	}
	
	div.home-medium-price
	{
		text-align:center;
		display:block;
		margin:0 auto;
	}
	#header {
		width:100%;
		height:200px !important;
		
	}
	
	#menu-alto {
		height:33px;
		
	}
	#social-header {
		display:none;	
	}
	
	#info-utente {
		display:block !important;
		margin:0 auto !important;
		width:100% !important;
	}
	
	#barra-bianca {
		width:100% !important;
		
	}
	#header_logo {
		width:100%;
		position:relative;
		display:block;
		margin:0 auto;
		margin-top:-10px;
		text-align:center;
		float:none;
		clear:both;
	}
	
	#servizio-clienti
	{
		position:relative;
		top:-30px;
		left:0px;
		margin-top:-10px;
		margin-left:0px;
	}
	#account-block-new {
		display:block;
		position:relative;
		float:right;
		top:-35px;
		left:0px;
		width:38px;
	}	
	#account-block-new  strong, #account-block-new span {
		display:none;
	}	
	
	#cart-block-new {
		border:0px;
		display:block;
		position:relative;
		float:right;
		top:-35px;
		left:0px;
		width:38px;
	}	
	#cart-block-new  strong{
		display:none;
	}
	
	#cart_block2_in
	{
		border:0px;
	}
	#cart_block2_in_spans 
	{
		display:none;
		
	}
	
	.my-account-block div, .my-account-block table tr td
	{
		width:100% !important;
	}
	#cart_icon {
		position:relative;
		top:0px;
		left:0px;
		
	}
	
	img.logo {
		float:none;
		position:relative;
		display:block;
		margin:0 auto;
		height:50%;
	}
	#search_block_top
	{
		position:relative;
		top:0px;
		left:0px;
	}

	
	#blocco_ricerca {
		
		position:relative;
		display:block;
		margin:0 auto;
		width:100%;
		top:60px;
	}
	
	#search_block_top {
		width:100%;
		display:block;
		margin:0 auto;
	}
	
	#search_block_top input.search_query
	{
		position:relative;
		float:left;
		width:70%;
		font-size:12px;
	}
	
	#search_block_top #vaicerca
	{
		width:30%;
		margin-left:-10%;
		margin-top:4px;
		position:relative;
		float:right;
		top:0px;
		left:0px;
	}
	
	#menu-blu {
		display:none;
		width:100%;
		height:540px;
		background-image:none;
		background-color:#0000cc;
	}
	
	#logout-link
	{
		width: 180%;
		display: block;
		position: relative;
		right: -10%;
		margin-right: 0px;
		text-align: right;
	}
	
	.menu-principale-link
	{
		font-size:12px;
		display:block;
		width:80%;
		padding-top:6px !important;
	}
	
	.show-menu-triangle
	{
		position:relative;
		display:block;
		width:10%;
		float:right;
		border-left:1px solid #ffffff;
		height:82%;
		padding-top:10px;
		margin-top:-23px;
		padding-left:3%;
		cursor:pointer;
	}
	
	
	li.cat
	{
		display:block;
		width:100% !important;
		text-align:left;
		border:0px !important;
		border-bottom:1px solid #ffffff !important;
		text-align:left !important;
		padding-left:10px;
		
	}
	/*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
	
	div.menu-category {
		border:0px !important;
		width:100%;
		height:100% !important;
		padding-left: 0px;
		padding-right: 0px;
		margin-top:20px !important;
		position:relative !important;
		margin-left:-10px !important;
		top:0;
	}
	
	.submenu {
		margin-top:0px !important;
		border:0px !important;
		width:100% !important;
		background-color:#ffffff !important;
		
	}
	
	.submenu  strong a 
	{
		font-size:16px !important;
		display:block;
		margin-top:-15px;
		margin-bottom:10px;
		margin-left:7px;
	}
	h3.category
	{
		border:0px !important;
		width:100% !important;
		font-size:15px;
		background-color: #da6600 !important;
		text-transform: uppercase;
		margin-left:0px !important;
		margin-top:0px !important;
		padding-top:7px !important;
		padding-bottom:5px;
		margin-bottom:5px !important;
		font-weight:normal !important;
	}
	h3.category a {
		border:0px !important;
		font-size:14px !important;
		font-weight:normal !important;
		width:100% !important;
		height:100%;
		text-align:left !important;
		padding:0px;
		margin-left:0px !important;
	}
	
	ul.int-category 
	{
		margin-top:5px;
		background-color:#ffffff !important;
	}
	ul.int-category li, ul.int-categ-marg li
	{
		padding-left:10px;
		display:block;
		background-color:#ffffff !important;
		width:100% !important;
		padding-top:5px;
		padding-bottom:5px;
		border-bottom:1px solid #0000cc;
	}
	
	div.cat-separatore {
		margin-top:0px !important;
		border:0px !important;
		width:100% !important;
		
		background-color:#ffffff !important;
		background-image:none !important;
	}
	div.cat-separatore div {
		margin-left:0px !important;
	}
	#home-title {
		padding:8px;
		width:95%;
	}
	
	#page
	{
		width:100%;
		
	}
	
	#columns {
		display: -webkit-box !important;
		display: -moz-box !important;
		display: box !important;

		-webkit-box-orient: vertical !important;
		-moz-box-orient: vertical !important;
		box-orient: vertical !important;
	}
	#center_column
	{
		width:95%;
		margin-left:0px !important;
		padding:0px;
	}
	#center_column .rte img
	{
		width:90% !important;
		height:auto !important;
	}
	
	#center_column iframe
	{
		width:350px !important;
		height:auto !important;
	}
	
	#left_column {
		-webkit-box-ordinal-group: 2 !important;
		-moz-box-ordinal-group: 2 !important;
		box-ordinal-group: 2 !important;
	}
	
	#left_column, #center_column
	{
		width:100%;
		
	}
	
	div.block {
		width:100%;
	}	
	
	div.block div, div.block form, #newsletter_block_left div, a.box-sx-img {
		display:block;
		margin:0 auto;
		width:100%;
	}	
	
	#newsletter_block_left div form
	{
		margin-top:8px;
	}
	
	div.block img, #left_column img {
		display:block;
		margin:0 auto;
		max-width:100%;
	}	
	
	#footer, #footer-in, #sitefooter, #footer_blocks, #footer_block_1, #footer_block_2, #footer_block_3, #footer_block_4, #footer_block_5, .footer_blocks, #footer-bottom
	{
		padding-left:10px;
		padding-right:10px;
		border:0px;
		width:90%;
	}
	
	#footer-in p
	{
		display:block; margin: 0 auto;
		clear:both;
	}
	
	#footer_block_4 img {
		display:block;
		margin:0 auto;
	}
	
	#footer-2, #footer-2-in
	{
		width:100%;
	}
	
	#footer-in div
	{
		margin-left:0px !important;
	}
	
	#live-help, #footer-social, .to-top, .to-top-is-visible
	{
		display:none;
	}
	
	#footer-bottom
	{
		max-width:90%;
	}
	
	#footer-table-blocks thead, #footer-table-blocks tbody, #footer-table-blocks th, #footer-table-blocks td, #footer-table-blocks tr 
	{
		display:block;
		width:100%;
	}
	
	#footer-table-blocks, td.tdfooter
	{
		max-width:100%;
		width:100%;
	}
	
	#footer h3
	{
		width:100%;
	}	
	
	.menufooter li {
		font-size:15px;
		padding:3px;
	}	
	
	#links-home {
		display:none;
	}

	div.block2 
	{
		width:100% !important;
	}
	
	#viewed-products_block_left img
	{
		display:block;
		margin: 0 auto;
	}
	
	
}

/* fine global */

 
 
 /* product_list */
 
 @media (max-width: 768px) 
{
	ul#product_list li
	
	{
		min-height:100% !important;
		
	}
	
	.punti-di-forza
	{
		width:100%;
	}
	#center_column
	{
		width:95%;
		margin-left:0px !important;
		padding:6px;
	}
	
	div.center_block_left {
		height: auto;
		float:none;
		width:100%;
	}
	
	#center_column p {
		margin: 0 !important;
		padding-left: 0 !important;
	}
	
	div.center_block {
		width:100% !important;
		float:none !important;
		height:auto !important;
	}
	
	ul#product_list li div.acquista-listing {
		position:relative;
		width:100%;
		text-align:left;
		top:0;
	}
	
	#bottom-line
	{
		position:relative !important;
		left:0 !important;
	}
	
	ul#product_list li div.right_block {
		position:relative;
	}
	
	p.product_codes
	{
		display:none;
	}
	
	ul#product_list li div.center_block a img {
		display:block;
		margin:0 auto;
	}	
	
	ul#product_list li div.right_block
	{
		width: 100% !important ;
	}
	
	.right_block div
	{
		position:relative !important;
		float:left;
		margin-top:0px !important;

	}
	
	#layered_block_left
	{
		display:none;
	}
	
	.acquista-listing-button, .ajax_add_to_cart_button
	{
		padding-left:0px !important;
		float:none;
		width:100% !important;
		margin:0 auto;
	}
	
	span.price
	{
		display:block !important;
		clear:both;
	}
	
	.quantity-div
	{
		display:none;
	}
	
	#ordinamento-prodotti span, #disponibilidesc, #vendutidesc, #dateadddesc
	{
		display:none !important;
	}
	
	 #ordinamento-prodotti
	{
		position:relative;
		top:0;
		left:0;
	}
	
	.block-sort
	{
		top:3px !important;
		width:auto !important;
	}
	
	#ordinamento-prodotti
	{
		top:0;
		left:0;
	}
	#ordinamento-prodotti div
	{
		margin-left:8px !important;
	}
	
	.block-compare
	{
		position: relative !important;
		width: 300px;
		top: 36px !important;
		left: -8px !important;
	}
}

/* fine product_list */

/* da order-opc */

 @media (max-width: 768px) 
{
	.shopping_cart_header
	{
		display:none;
	}
	
	#opc-account, #opc-shipping, #opc-payment
	{
		width:100% !important;
	}
	
	#opc-payment
	{
		margin-bottom:10px !important;
		
	}
	#coupon-fieldset
	{
		position:relative;
		left:0;
		top:0;
		margin-top:0;
	}
	
	.shopping_cart_table
	{
		border:0px;
	}
	
	#insert-comment
	{
		display:none;
		position:relative;
		left:0;
		top:0;
		margin-top:0;
	}
	
	#aiuto-telefono
	{
		display:none;
	}
	
	.box-carrello-img
	{
		margin-top:0px;
		width:100%;
	}
	#voucher
	{
		width:100%;
		
	}
	#cart_env .button_large
	{
		width:100% !important;
		margin-left:0px !important;
	}
	
	#coupon-fieldset
	{
		width:100%;
		padding:0px;
	}
	
	#coupon-fieldset img
	{
		display:none;
	}
	
	#payment_button
	{
		min-width:200px;
	}
	
	p.checkbox
	{
		left:0 !important;
		position:relative !important;
		height: 40px;
	}
	
	p.cart_navigation
	{
		top:0 !important;
		right:0 !important;
		position:relative !important;
	}
	
	#cart_summary
	{
		max-width:100% !important;
	}
	
	#cart_summary tr, #cart_summary td, #cart_summary th, #cart_summary tbody, #cart_summary tfoot
	{
		width:auto !important;
	}
	
	#cart_summary tr
	{
		 display:flex;
		flex-wrap:wrap;
	}
	
	#cart_summary td
	{
		display:block;
		flex:1
	}
	
	#cart_env {
		display: -webkit-box !important;
		display: -moz-box !important;
		display: box !important;
		
		-webkit-box-orient: vertical !important;
		-moz-box-orient: vertical !important;
		box-orient: vertical !important;	
	}
	
	#shopping_cart_steps {
		-webkit-box-ordinal-group: 2 !important;
		-moz-box-ordinal-group: 2 !important;
		box-ordinal-group: 2 !important;
		
	}
	
	#shopping_cart_products {
		-webkit-box-ordinal-group: 1 !important;
		-moz-box-ordinal-group: 1 !important;
		box-ordinal-group: 1 !important;
	}
	
}

/* fine order-opc */


/* da blockviewed */


	 @media (max-width: 768px) 
{
	div#viewed-products_block_left div.block_content ul.products li img { margin: 0 auto }

}

/* fine blockviewed */

/* da authentication */

 @media (max-width: 768px) 
{
	#authentication_form .block {
		float:none;
		width:95% !important;
		margin-bottom:15px !important;
		margin-left:0px !important;
		
	}	
	
	#authentication_form .block h3 {
	}
	
	#authentication_form .block input.account_input {
		width:200px !important;
	}
	
	table.authentication
	{
		width:65%;
	}
	
	#tax_code_help
	{
		display:none;
	}
}

/* fine authentication */

/* da product */

@media (max-width: 768px) 
{
	#primary_block #pb-left-column
	{
		width:100% !important;
	}
	
	#pb-right-column
	{
		display:block !important;
		margin:0 auto !important;
		text-align:center !important;
		float:none !important;
	}
	.prodotto-info 
	{
		display:none;
	}
	
	#cart_footer
	{
		padding-left: 10px;
		padding-right:10px;
	}
	
	#same-category-carousel
	{
		display:none;
	}
	
	table.std
	{
		margin-left:0px !important;
		width:100% !important;
		
	}
	
	table.std tr td
	{
		width:50% !important;
	}
	
	table.std table
	{
		width:90% !important;
	}
	
	#przcont-prices
	{
		width:55px !important;
	}
	
	div.carrello
	{
		position:relative;
		top:0;
		left:0;
		width:100%;
		border-top: 1px solid #ebebeb;

		border-bottom: 1px solid #ebebeb;

		margin-top: 10px;
		padding-top:7px;
		margin-bottom: 10px;
	}
	
	#quantity_wanted_p
	{
		margin-left:0px;
		float:left;
	}
	
	#add_to_cart_button
	{
		margin:0;
	}
	
	.acquista-listing-button
	{
		float:right;
		margin-top:-10px;
	}
	
	table.tabella-sconti-quantita
	{
		width:100%;
	}
}

/* fine product */

/* da category */

	 @media (max-width: 768px) 
{
	
	#subcategories .inline_list li 
	{
		display:block;
		width:100% !important;
		margin:7px;
		background-color: #ebebeb;
	}
	
	#subcategories .inline_list li img
	{
		display:block;
		margin: 0 auto;
		margin-top:7px !important;
		background-color: #ebebeb;
	}
}

/* fine category */

/* da blockuserinfo */

 @media (max-width: 768px) 
{
	#social-header {
		display:none;	
	}
	
	#info-utente {
		display:block !important;
		margin:0 auto !important;
		width:100% !important;
	}
	
	#header_user ul, #blockuserinfoul {
		float:left;
		
	}
	#info-utente ul li a span {
		display:none !important;
		
	}
	
	#info-utente ul li a img {
		margin-left:8px;
		margin-right:8px;
	}
}

/* fine blockuserinfo */