* {
font-size:12px;
font-family:Arial;
}

a:link {
color:#0645AD;
text-decoration:underline;
}

a:hover {
text-decoration:none;
}

a:visited {
color:#0645AD;
text-decoration:underline;
}

.rte ul, .mceContentBody ul {
margin-top:0px;
list-style-type: square;
margin-left:-25px;
}

.rte ul li, .mceContentBody ul li{
margin-bottom:3px;
}

.rte strong, .mceContentBody strong { font-weight: bold }
.rte em, .mceContentBody em { font-style: italic }

/* tables still need 'cellspacing="0"' in the markup */
.rte table,.mceContentBody table {
	border-collapse: separate;
	border-spacing: 1px;
	width: auto
}

table, td, tr {
font-size:12px;
font-family:Arial;
}

.rte caption, .rte th, .rte td, .rte table,
 .mceContentBody caption, .mceContentBody th, .mceContentBody td, .mceContentBody table {
	text-align: left;
	font-weight: normal;
	background: none;
	height: inherit;
	font-size:12px;
	border: 1px #e5e6e7 solid;
	text-align: center
}
.rte th, .mceContentBody th {
	padding-left: 1em;
	padding-right: 1em;
	background: #e5e6e7
}
#center_column .rte p, 
 .mceContentBody p { padding-left: 0; margin: 0.5em 0 }
.rte ol, .mceContentBody ol {
	list-style-type: decimal;
	margin-left: 10px
} 

h1 {
	font-size: 16px;
	color:#000066;
	text-align:left;
	padding-bottom:5px;
	border-bottom:1px dotted #000066;
	width:100%;
	font-weight: bold;
	font-family:Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
}

h2 {
	font-size:15px;
	font-weight:normal;
	margin: 0.75em 0 0.3em 0;
	color: #374853
}
h2 span {
	font-size: 0.9em;
	text-transform: none;
	font-weight: normal;
	font-style: italic;
	color: #374853;
	margin-left: 1em
}
h3 {
	font-size:14px;
	font-weight:normal;
	margin: 0.75em 0 0.3em 0;
	color: #374853
}

.nascondi-link-google{
}
