<div id="loading" style="display: none;">
<div id="loading-center">
<div id="loading-center-absolute">
<div id="object_four" class="object" style="display: none;"> </div>
<div id="object_three" class="object" style="display: none;"> </div>
<div id="object_two" class="object" style="display: none;"> </div>
<div id="object_one" class="object" style="display: none;"> </div>
</div>
</div>
</div>
<script type="text/javascript">
{literal}


jQuery('document').ready( function() {

jQuery('.apri-contattaci').each(function() {
	jQuery(this).prop('href', 'javascript:void(0)');
});
	jQuery('.apri-contattaci').click(function(event) {
		
		jQuery('#id01').show(); $('#preventivo_v').hide();
	});
});
{/literal}

</script>
<header id="header" class="row">
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ffffff; height: 68px;">
<div class="container" style="margin-top: -15px;">
<div class="navbar-header">
<figure><a class="navbar-brand" href="https://www.ezdirect.it/"><img class="alignnone wp-image-2169" src="https://www.ezdirect.it/blog/wp-content/uploads/2019/04/Logo-Ez-PNG.png" alt="" width="204" height="57" /></a></figure>
<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false"><img title="Menu" src="https://www.ezdirect.it/img/menum2.jpg" alt="Menu" /></button></div>
<div id="main-navbar" class="collapse navbar-collapse"><!-- <a class="btn btn-warning pull-right hidden-sm hidden-xs" style="color: #ffffff;" href="#product-choose">Contattaci</a> -->
<ul class="nav navbar-nav navbar-right" style="width: 75%;">
	<li class=""><a href="https://www.ezdirect.it/" rel="noopener noreferrer" data-toggle="collapse" target="_blank"><img class="aligncenter" />Home</a></li>
	<li class=""><a href="https://www.ezdirect.it/guide/4-chi-siamo" target="_blank"><img class="aligncenter" />Chi siamo</a></li>
	<li class=""><a class="dropdown-toggle" href="https://www.ezdirect.it/preventivi-quotazioni-miglior-prezzo-cuffie-centralini" rel="noopener noreferrer" target="_blank">Informazioni</a></li>
	<li class=""><a class="dropdown-toggle" href="https://www.ezdirect.it/blog/" rel="noopener noreferrer" target="_blank">Blog</a></li>
	<li class=""><a href="https://www.ezdirect.it/guide/category/5-guide-e-consigli" target="_blank"><img class="aligncenter" />Guide e consigli</a></li>
	<li class=""><a href="https://www.ezdirect.it/videoconferenza-voip-ip-cloud/" target="_blank"><img class="aligncenter" />Videoconferenza</a></li>
</ul>
</div>
</div>
</nav><br />
</header>