/* block top user information */
#header_user {
	position: relative;
}

#header_user div { color: #595a5e;
z-index:99;
 }
#header_user ul {list-style-type:none; float:right; }
#header_user li {
	text-align: right;
margin-left: 0em;
padding-top: 0px;
/* height: 15px; */
display: block;
float: left;
border-right: 1px solid #898a8d;
padding-left: 5px;
padding-right: 5px;

}
#header_user li a {
	
}
#header_user #shopping_cart, #header_user #your_account { font-size: 0.9em }
#header_user li#your_account { margin-left: 0 }

ul.blockuserinfoul {
list-style-type:none;
position: relative;
z-index: 99;
}

ul.blockuserinfoul li {
display:block;
float:left;
font-size:12px;
text-align:center;
}

ul.blockuserinfoul li a {
	/* padding-top:5px;
	padding-bottom:2px; */
	font-size:13px !important;
	color:#000000; font-weight:normal !important;
	width:100%;
}

ul.blockuserinfoul li  a img, ul.blockuserinfoul li img{
	display:block;
	margin:0 auto;
	margin-bottom:0px;
	margin-top:-8px;
}
ul.blockuserinfoul li a:link {
text-decoration:none;
}

ul.blockuserinfoul li a:visited {
text-decoration:none;
}

ul.blockuserinfoul li a:hover {
color:#ff6600 !important;
text-decoration:none;
}

/* da blockuserinfo */

 @media (max-width: 768px) 
{
	#social-header {
		/* display:none;	 */
	}
	
	#info-utente {
		display:block !important;
		margin:0 auto !important;
		width:100% !important;
	}
	
	#header_user ul, #blockuserinfoul {
		/* float:left; */
		
	}
	#info-utente ul li a span {
		display:none !important;
		
	}
	
	#info-utente ul li a img {
		margin-left:8px;
		margin-right:8px;
	}
}

/* fine blockuserinfo */

