/* block top user information */

#header_user div { color: #595a5e;
z-index:99;
 }
#header_user span { font-weight: bold }
#header_user ul { margin-top: 0.0em; list-style-type:none; float:right; }
#header_user li {
	display:inline;
	text-align:right;
	margin-left: 0em;
	padding-top:0px;
}
#header_user #shopping_cart, #header_user #your_account { font-size: 0.9em }
#header_user li#your_account { margin-left: 0 }
#header_user #shopping_cart a, #header_user #your_account a {
	background-repeat: no-repeat;
	background-position: top left;
	padding: 4px 0 0px 30px;
	height: 15px;
	text-decoration: none
}
#header_user #shopping_cart a { background-image: url('../../../img/icon/cart.gif') }
#header_user #your_account a { background-image: url('../../../img/icon/my-account.gif') }


ul.blockuserinfoul {
list-style-type:none;

}

ul.blockuserinfoul li {
display:block;
float:left;
font-size:12px;
text-align:center;
}

ul.blockuserinfoul li a {
	padding-top:5px;
	padding-bottom:2px;
	font-size:11px !important;
	width:100%;
}

ul.blockuserinfoul li  a img, ul.blockuserinfoul li img{
	display:block;
	margin:0 auto;
	margin-bottom:0px;
	margin-top:-8px;
}
ul.blockuserinfoul li a:link {
text-decoration:none;
}

ul.blockuserinfoul li a:visited {
text-decoration:none;
}

ul.blockuserinfoul li:hover {
	background-color:#0645ad;
}

ul.blockuserinfoul li:hover ul.blockuserinfoul li a:link { color:#ffffff !important; }

ul.blockuserinfoul li a:hover {
color:#ffffff;
text-decoration:none;
}

/* da blockuserinfo */

 @media (max-width: 768px) 
{
	#social-header {
		display:none;	
	}
	
	#info-utente {
		display:block !important;
		margin:0 auto !important;
		width:100% !important;
	}
	
	#header_user ul, #blockuserinfoul {
		float:left;
		
	}
	#info-utente ul li a span {
		display:none !important;
		
	}
	
	#info-utente ul li a img {
		margin-left:8px;
		margin-right:8px;
	}
}

/* fine blockuserinfo */

