{*
 * 2017-2018 Blulab S.r.l. - http://www.blulab.net/
 *
 *  @author    Blulab S.r.l <info@blulab.net>
 *  @copyright 2019-2020 Blulab S.r.l.
 *  @license   please contact Blulab S.r.l. http://www.blulab.net/
 *  Property of Blulab s.r.l. & GLS
*}
<a href="{$href|escape:'htmlall':'UTF-8'}" class="btn btn-default" title="{$action|escape:'htmlall':'UTF-8'}" >
    <i class="icon-cloud-upload"></i> {$action|escape:'htmlall':'UTF-8'}
</a>
