{extends file="helpers/list/list_header.tpl"}
{block name='override_header'}

<div class="panel">
	
	<div class="form-row">
		<div class="row">
			<div class="form-group col-md-4">
				<p class="form-control-static">
				<form method="post">
				<label for="ricerca">Cerca testo nel ticket</label>
					<input type="text" id="ricerca" name="ricerca" value="prova" />
					<input type="button" class="btn btn-secondary" onclick="window.location.href='{$link->getAdminLink('AdminRMA')}&cercaticket={$smarty.post.ricerca}'" id="cercaticket" name="cercaticket" value="Cerca" />
				</form>
				</p>
			</div>
		</div>
	</div>

</div>

{/block}
{block name=leadin}
	
{/block}