/* identity.tpl */
p#security_informations {
	font-size: 0.85em;
	margin: 0 3em
}

#newsletter {
	/* top: 14px;
	left: 65px; */
	border: 0;
	margin: 0;
	width: auto;
}


@media (max-width: 768px) {
#identity-field-responsive {
	display: flex;
	flex-direction: column;
}

#newsletter {
	/* top: 14px;
	left: 150px; */
}

}