a.facebook {
display:block;
width:25px;
height:25px;
background-image: url('../../../../img/socialbutton_sprite.gif');
background-position:0px 0px;
} 
a.twitter {
display:block;
width:25px;
height:25px;
background-image: url('../../../img/socialbutton_sprite.gif');
background-position:26px 0px;
} 

a.linkedin {
display:block;
width:25px;
height:25px;
background-image: url('../../../img/socialbutton_sprite.gif');
background-position:51px 0px;
} 

a.googleplus {
display:block;
width:25px;
height:25px;
background-image: url('../../../img/socialbutton_sprite.gif');
background-position:76px 0px;
} 