/* Block Viewed Products */
div#viewed-products_block_left div.block_content ul.products li { 
	margin-top: 0;
	padding: 4px 0 0 
}
div#viewed-products_block_left div.block_content ul.products li img { margin-right: 7px }


/* da blockviewed */


	 @media (max-width: 768px) 
{
	div#viewed-products_block_left div.block_content ul.products li img { margin: 0 auto }

}

/* fine blockviewed */