{extends file="helpers/view/view.tpl"}

{block name="override_tpl"}

<div id="container-registra-anagrafica">
	{*<form class="form-horizontal col-lg-12"method="post" enctype="multipart/form-data" novalidate>*}
		<div class="panel">
			<div class="panel-heading">
				<i class="icon-plus-sign"></i> Registra Anagrafica
			</div>

			{$content}

		</div>
	{*</form>*}
</div>

{/block}
