{extends file="helpers/list/list_footer.tpl"}

{* block name='after'}
	
	<div id="container-footer">
		<div class="panel">
			<div class="panel-heading">
				{l s="Orders total"}
			</div>
			<div class="row">
				<div class="form-group col-md-12 no-margin">
					<h2 class="blu no-margin" style="text-align:right;">{l s="Total"}: {$totale_ordini}</h2>
				</div>
			</div>
		</div>
	</div>

{/block *}
