/* product.tpl */
#primary_block #pb-right-column {
position:relative;
	float: left;
	/* width: 400px; */
	text-align: right;
	/* margin-left: 65px; */
	margin-top:0;
	margin-left: -20px;
}

#primary_block #pb-center-column {
	
	float: left;
    display: block;
    position: relative;
	/* margin-left: 60px; */
    /* width: 420px;
    margin-right: 40px; */
	/* padding-left: 50px; */
}

@media (min-width: 768px) {
	#primary_block #pb-center-column {
		margin-left: 145px;
	}


	.col-sm-3 {
		max-width: 30%;
	}

	#product-grid {
		flex-direction: row;
	}

	#pb-right-column {
		margin: 0;
	}

	#product-header {
		margin-top: 30px;
	}
}


#center_column table td
{
	vertical-align: middle;
}

#product-header
{
	position:relative;
	display:block;
	/* margin-top:50px; */
	margin-bottom:40px;
}
#product-header-left
{
	float:left;
	width:70%;
	text-align:left;
	
}
#product-header-left h1
{
	text-align: left;
	font-size: 25px;
	font-weight: normal;
	line-height: 30px;
}
#product-header-right
{
	float:left;
	width:30%;
	text-align:right;
}


div.mini-description {
text-align:left;
margin-top:-3px;
font-size:14px;

}

div.codes {
font-size:12px;
color:#000000;
text-align:left;
padding-bottom:9px;
line-height:26px;
}

div.swal-wide
{
	width:80% !important;
}


div.prices {
position:relative;
margin-top:15px;
margin-bottom:5px;
margin-left:-2px;
/*background-color:#f5f5f5;*/
/*background-image: linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
*/
/*
border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

#descrprodotto iframe
	{
		width:800px !important;
		height:calc(800px * 9 / 16) !important;
	}


div.social {
position:relative;
float:left;
width:200px;
margin-top:-3px;
margin-left:5px;
margin-right:-20px;
margin-bottom:5px;
padding-top:3px;
padding-left:5px;
padding-bottom:7px;
height:30px;
/* background-color:#e6e6e6; *//*
border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
/*
background-image: linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

div.social-in {
width:150px;
position:relative;
display:block;
margin-left:9px;
}

div.social-in span {
font-size:14px;
z-index:98;
width:150px;
display:block;
position:relative;
margin:0 auto;
text-align:center;
}

div.skype {
float:left;
width:140px;
margin-top:-6px;
margin-left:10px;
margin-bottom:5px;
padding-top:3px;
padding-left:5px;
padding-bottom:7px;
height:30px;
}


div.manufacturer {
position:relative;
margin-top:-5px;
background-color:#ffffff;
width:150px;
height:40px;
float:left;
}

div.manuali-pdf {
text-align:left;
position:relative;
margin-top:-5px;
background-color:#ffffff;
width:155px;
margin-left:5px;
height:40px;
float:left;
background-image: url('../../../img/pdf.png');
background-repeat:no-repeat;
padding-left:45px;
}

div.manuali-pdf ul li {
font-size:14px;
color:#383838;
}

div.print {
cursor:pointer;
display:block;
position:absolute;
width:43px;
margin-top:-13px;
margin-left:40px;
margin-bottom:5px;
padding-top:3px;
padding-left:0px;
padding-bottom:0px;
height:50px;
left:360px;
}

div.loyalty {
display:block;
position:absolute;
width:43px;
margin-top:-13px;
margin-left:40px;
margin-bottom:5px;
padding-top:3px;
padding-left:0px;
padding-bottom:0px;
height:50px;
left:330px;
}

div.wishlist {
display:block;
position:absolute;
width:43px;
margin-top:-13px;
margin-left:40px;
margin-bottom:5px;
padding-top:5px;
padding-left:0px;
padding-bottom:0px;
height:50px;
left:420px;
}

div.spedizione {
text-align:left;
position:relative;
margin-top:5px;
background-color:#ffffff;
width:105px;
font-size:14px;
height:40px;
float:left;
background-image: url('../img/delivery.png');
background-repeat:no-repeat;
padding-left:45px;
}

div.confezione {
text-align:left;
position:relative;
margin-top:5px;
background-color:#ffffff;
width:155px;
margin-left:0px;
height:40px;
float:left;
background-image: url('../img/package.png');
background-repeat:no-repeat;
padding-left:45px;
}

div.garanzia {
text-align:left;
position:relative;
margin-top:5px;
background-color:#ffffff;
width:50px;
margin-left:0px;
height:40px;
float:left;
background-image: url('../img/garanzia.png');
background-repeat:no-repeat;
padding-left:41px;
}

#bottom-bar {
position:relative;
width:100%;
}

div.prodotto-info {
margin-top:-3px;
position:absolute;
right:40px;
}

div.availability {
	margin-top:5px;
margin-bottom:-20px;
font-size:14px;
text-align:left;
z-index:9;
}

div.box-prodotto-info {
text-align:left;
float:left;
position:relative;
margin-top:5px;
background-color:#ffffff;
width:135px;
margin-left:5px;
z-index:8;
}


#primary_block {
position:relative;
}


#primary_block #image-block {
	position:relative;
/*	border-radius:7px;
	-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
	height: auto;
	width: 270px;
	behavior:url('https://www.ezdirect.it/PIE.htc');
}

 @media (max-width: 1050px) 
{
	#primary_block #image-block {
		
		/*height: 300px;
		width: 300px;*/
	}	
	
}

@media (min-width: 1440px) {
	#primary_block #image-block {
		
		height: 550px;
		width: 550px;
	}	
}


#primary_block #image-block #cheapnet {
position:absolute;
width:57px;
height:57px;
top:0px;
right:0px;
opacity:0.7;
}


div.coupon_g {
position:absolute;
z-index:999;
top:-12px;
left:-12px;
}



#primary_block #image-block img {
	behavior:url('https://www.ezdirect.it/PIE.htc');
	/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
}

#primary_block #image-block img#bigpic { 
	display:block;
	margin:0 auto;
	margin-top:5px;
	cursor: pointer; 
	/* height: 370px; */
    width: 100%;
	object-fit: contain;
}
#primary_block ul#usefull_link_block {
	list-style-type: none;
	margin-top: 1em
}
#primary_block ul#usefull_link_block li { margin: 0.5em 1em 0.5em 0; display: block }
#primary_block ul#usefull_link_block li a,
#primary_block ul#usefull_link_block span.span_link,
#primary_block ul#usefull_link_block span.span_link:hover {
	text-decoration: none;
	color: #76839b;
	font-size: 0.9em;
	background: white url('../img/bullet_alt.jpg') no-repeat top left;
	padding-left: 15px;
	height: 15px
}
#primary_block #pb-left-column {
position:relative;
margin-bottom:20px;
text-align:left;
	float: left;
	margin-left: 0px;
	width: 280px;
	height: max-content;
	background-color:#f4f4f4;
	border:1px solid #cdcdcd;
}

 @media (max-width: 1050px) 
{
	#primary_block #pb-left-column {
		width:460px;
	}
}

#primary_block #pb-left-column h1 {
text-align:left;
font-size:20px;
font-weight:normal;
}

div.left-column-1 {
width:240px;
float:left;
}



#primary_block #short_description_block {
	border: 1px #d0d3d8 solid;
	padding: 0.7em;
	margin-bottom: 1.5em
}
#primary_block #color_picker p {
	margin-bottom: 0.4em;
	padding: 0
}
#primary_block #color_picker {
	padding: 0.6em 0.7em 0.4em 0.7em;
	border: 1px #d0d3d8 solid;
	margin-bottom: 1.5em
}
#primary_block #color_to_pick_list li {
	display: inline;
	float: left;
	margin: 0 0.4em 0.4em 0
}
#primary_block a.color_pick {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #666;
	cursor: pointer
}
#primary_block a.color_pick:hover { border: 1px solid #000 }
#primary_block a#color_all { cursor: pointer }
#primary_block #image-block img#bigpic.jqzoom {
	cursor: crosshair;
	position: relative
}
#primary_block p.buttons_bottom_block { margin: 0 }
#primary_block p.buttons_bottom_block a,
 #primary_block p.buttons_bottom_block input { margin: 0.9em auto 0 auto }
#primary_block #short_description_content { margin-bottom: 0.5em }
#primary_block #buy_block {
	font-size: 1.1em;
	padding: 0.7em;
	color: #374853;
	margin-bottom: 1.5em
}
#primary_block #buy_block p {
	/* padding: 0; */
	margin-top: 0;
	clear: both
}
#primary_block #buy_block img.on_sale_img { float: left }
#primary_block #buy_block span.on_sale {
	color: #da0f00;
	text-transform: uppercase
	font-weight: bold;
	float: right
}
#primary_block #buy_block span.discount {
	color: #da0f00;
	text-transform: uppercase
	font-weight: bold;
	float: right
}
#primary_block #buy_block span.our_price_display { text-align:left; font-size:16px }
#primary_block #buy_block span#availability_label {

	float: left;
	margin-right: 1em
}
#primary_block #buy_block label { text-align: left }
#primary_block #buy_block label,#primary_block #buy_block select {
	display: block;
	width: 47%;
	float: left
}
#primary_block div#attributes p, #quantity_wanted_p {
	clear: left;
	height: 2em;
	text-align: right
}
#primary_block div#attributes p, #minimal_quantity_wanted_p {
	clear: left;
	
}

/* prices */
#primary_block #buy_block p.price {
	font-size: 1.05em;
	text-align: left
}
#primary_block #buy_block span#pretaxe_price {
	font-size: 18px;
	text-align: left
}
#primary_block #buy_block p#old_price {
	font-size: 0.8em;
	text-align: left;
	text-decoration: line-through
}
#primary_block #buy_block p#reduction_percent {
	color: #da0f00;
	font-size: 0.75em;
	text-align: left
}
#primary_block #buy_block p.price-ecotax {
	font-size: 0.75em;
	text-align: left
}
#admin-action {
    color: #374853; 
    margin-bottom:10px; 
    padding: 4px; 
    border: 1px solid #72CB67
}
#admin-action input.exclusive
{
	float: right
}

.product_accessories_price, .product_alternatives_price
{
	padding-left:0px !important;
	margin-top: 5px
}

.product_alternatives_price
{
margin-bottom:15px;	
}
span.listino {
font-size:14px;
text-decoration:line-through; color:#383838
}

span.save {
color:#383838;
font-size:14px;
}

span.ivainclusa {
color:#383838;
font-size:14px;
}

div.listino {
color:#383838;
font-size:12px;
}

div.carrello {
text-align:center;
width:140px;
position:absolute;
right:5px;
top:10px;
height:70px;
}

#add_to_cart {
	display:block;
	position:relative;
	margin-top:10px !important;
	
}

#add_to_cart input
{
display:block;
padding-top:6px;
position:relative;
width:100%;	
background-color:#ef6018;
height:40px;
padding-top:0px;
font-family:Arial, Verdana, Tahoma, Helvetica, Sans-Serif !important;
font-weight:bold !important;
font-size:15px !important;
font-variant:small-caps;
color:#ffffff;
border:0px;
}

 @media (max-width: 1050px) 
{
	#add_to_cart input
	{
		text-align:center !important;
		background-image:none !important;
		width:90px;
	}
}

 @media (max-width: 768px) 
{
	#add_to_cart input
	{
		text-align:center !important;
		background-image:none !important;
		width:90%  !important;
		height:40px  !important;
		top:15px  !important;
	}

	#primary_block #image-block {
		margin: 0 auto;
	}

	#product-carte {
		display: none;
	}
}

@media (max-width: 576px) {
	#pb-right-column
	{
		display:block !important;
		margin:0 auto !important;
		text-align:center !important;
		float:none !important;
	}
}
	
div.quantitydiscounts {
padding:2%;
}

#quantityDiscount .std {
	font-size:14px; 
}	

.product_accessories_price
{
	bottom:-8px !important;
}

#same-category-carousel-int table tr td span
{
	font-size:15px !important;
}


input.cart-product {
border:0px;
background-color: #e6e6e6;
display:block;
width:44px;
height:41px;
cursor:pointer;
background-image: url('../../../img/cart.png');
}

input.cart-product:hover {
border:0px;
background-color: #e6e6e6;
display:block;
width:44px;
height:41px;
cursor:pointer;
background-image: url('../../../img/cart.png');
}

input.cart-product:focus {
border:0px;
background-color: #e6e6e6;
display:block;
width:44px;
height:41px;
cursor:pointer;
background-image: url('../../../img/cart.png');
}

img.image-social {
position:relative;
margin-top:5px;
display:block;
margin-left:6px;
float:left;
}

img.pulsanti-prodotto {
position:relative;
display:block;
margin-left:16px;
float:left;
}

tr.even-f {

color:#383838;
padding:3px;
}

tr.odd-f {

color:#383838;
padding:3px;
}


td.feature-name {
text-align:left;
width:30%;
}
td.feature-value {
	width:70%;
}

#more_info_sheets {
border:1px solid #d4d4d4;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

.div-other-prodotti {
border:1px solid #d4d4d4;
width:780px;
left:0px;
position:relative;
text-align:center;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
margin-bottom:10px;
behavior:url('https://www.ezdirect.it/PIE.htc');
}

hr.dotted {
  border-top: 1px dotted #d4d4d4;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width:50%;
}

/* CAROSELLO */


#accessories-carousel, #same-category-carousel, #alternatives-carousel {
border:1px solid #d4d4d4;
left:0px;
position:relative;
text-align:center;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
margin-bottom:10px;
behavior:url('https://www.ezdirect.it/PIE.htc');
}

#accessories-carousel-int, #alternatives-carousel-int {
position:relative;
display:block;
margin:0 auto;
margin-bottom:15px;
overflow-x:auto;
}

#same-category-carousel-int {
position:relative;
display:block;
margin:0 auto;
height:105px;
margin-bottom:15px;
overflow-x:auto;
}

#accessories-carousel-int table tr td, #alternatives-carousel-int table tr td, #same-category-carousel-int table tr td {
padding-left:9px;
padding-right:9px;
/*border:1px solid #d4d4d4;
border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
margin-bottom:5px;
border:1px solid #d4d4d4;
vertical-align:top;
}




#productscategories-carousel, #crossselling-carousel {
border:1px solid #d4d4d4;
left:0px;
position:relative;
text-align:center;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
margin-bottom:10px;
behavior:url('https://www.ezdirect.it/PIE.htc');
}

#accessories-carousel img {
}

div.carousel-accessories {
z-index:10;
}


.jcarousel-skin-accessories .jcarousel-container {
left:35px;
width:715px;
}

.jcarousel-skin-accessories .jcarousel-clip {
overflow: hidden;
}

.jcarousel-skin-accessories .jcarousel-clip-horizontal {
width:  715px;
}

.jcarousel-skin-accessories .jcarousel-item {
width: 150px;
}

/**
 * Bottoni carousel
 */
 
 .jcarousel-prev-disabled, .jcarousel-next-disabled
{
    visibility:hidden;
}


.jcarousel-skin-accessories .jcarousel-next-horizontal {
position: absolute;
top: 75px;
right: -75px;
width: 67px;
height: 65px;
cursor: pointer;
z-index:98;
background: transparent url('../img/freccetta_blu_dx.png') no-repeat 0 0;
}

.jcarousel-skin-accessories .jcarousel-direction-rtl .jcarousel-next-horizontal {
left: 5px;
right: auto;
background-image: url(../img/freccetta_blu_dx.png);
}

.jcarousel-skin-accessories .jcarousel-next-horizontal:hover,
.jcarousel-skin-accessories .jcarousel-next-horizontal:focus {
background-image: url(../img/freccetta_blu_dx.png);
}

.jcarousel-skin-accessories .jcarousel-next-horizontal:active {
background-image: url(../img/freccetta_blu_dx.png);
}




.jcarousel-skin-accessories .jcarousel-prev-horizontal {
position: absolute;
top: 78px;
left: -30px;
width: 67px;
height: 65px;
cursor: pointer;
background: transparent url(../img/freccetta_blu_sx.png) no-repeat 0 0;
}

.jcarousel-skin-accessories .jcarousel-direction-rtl .jcarousel-prev-horizontal {
left: auto;
right: 5px;
background-image: url(../img/freccetta_blu_sx.png);
}

.jcarousel-skin-accessories .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-accessories .jcarousel-prev-horizontal:focus {
background-image: url(../img/freccetta_blu_sx.png);
}

.jcarousel-skin-accessories .jcarousel-prev-horizontal:active {
background-image: url(../img/freccetta_blu_sx.png);
}

.jcarousel-skin-accessories .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-accessories .jcarousel-prev-disabled-horizontal:focus {
background-image: url(../img/freccetta_blu_sx.png);
}

/* FINE CAROSELLO */

h1.in-product, h2.in-product {
	font-size: 16px;
	color:#000066;
	text-align:left;
	padding-bottom:5px;
	display:block;
	margin-top:-6px;
	border-bottom:1px dotted #000066;
	width:100%;
	font-weight: bold;
	font-family:Arial, Verdana, Tahoma, Helvetica, Sans-Serif;
}

#idTab1 h2 {
font-size: 15px;
text-align:left;
}
#idTab1 h3 {
font-size: 14px;
}

div.prodotto-info table td {
vertical-align:top;
}

span.read-more-class a, span.read-less-class a {
display:block;
position:relative;
padding-top:5px;
font-size:16px;
width:565px;
height:30px;
margin:0 auto;
margin-top:10px;
text-align:center;
border:1px solid #dcdcdc;
background-image:url('../img/header_block_bg.gif');
background-color:#db6702;
background-repeat:repeat-x;
font-weight:bold;
color:#000066;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
box-shadow:0px 0px 10px #bababa;
-webkit-box-shadow:0px 0px 10px #bababa;
-moz-box-shadow:0px 0px 10px #bababa;
-o-box-shadow:0px 0px 10px #bababa;
margin-bottom:10px;
behavior:url('https://www.ezdirect.it/PIE.htc');
}



span.read-more-class a:hover, span.read-less-class a:hover {
background-image:url('../img/sfondo_menu.gif');
color:#ffffff !important;
}


.features-table  {
border:0px !important;
}

.features-table td, .features-table tr {
border:0px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	width:350px;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
}
#tooltip h3, #tooltip div { margin: 0; }


#loyalty-div {

width:40px;
padding:7px;
	text-align:center;
	margin-top: 5px;
	border: #000 dashed 1px;
/*	border-radius:7px;
	-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

#loyalty-div img {
display:none;
}

#span-punti {
z-index:20;
font-weight:bold;
font-size:14px;
color:#000099;
padding-top:5px;
}

span.punti-scritta {
display:block;
margin-top:-5px;
font-size:12px;
z-index:98;
color:#000099;
}


.tabella-sconti-quantita {font-size: 14px;}

table.tabella-sconti-quantita {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
/*class table.tabella-sconti-quantita */
.tabella-sconti-quantita td,.tabella-sconti-quantita th { padding: 0.1em 0.1em }
.tabella-sconti-quantita th { white-space: nowrap }
.tabella-sconti-quantita tr.item td,.tabella-sconti-quantita .item th { background-color: white }
.tabella-sconti-quantita tr.alternate_item td,
.tabella-sconti-quantita tr.alternate_item th { background-color: #f1f2f4 }
/* .tabella-sconti-quantita tbody td, .tabella-sconti-quantita tfoot td { border-top: 1px solid #bdc2c9; border-bottom:0px } */
.tabella-sconti-quantita thead th {
background-image: url('../img/block_myaccount_header_large.gif'); background-repeat:repeat;
	 color: #ffffff;
	 height:24px;
	 border:0px;
}
.tabella-sconti-quantita th.first_item { background-position: top left }
.tabella-sconti-quantita th.last_item { background-position: top right }
.tabella-sconti-quantita th.item { background-position: -5px 0 }
.tabella-sconti-quantita tfoot td {
	color: #374853;
	white-space: nowrap
}

.tabella-sconti-quantita td {padding: 0.3em 0.3em; }
.tabella-sconti-quantita th {border:0px}




span.quantity-bundle {
position:absolute;
top:0px;
text-align:center;
margin-left:18px;
width:30px;
height:15px;
background-color:white;
/* background-color:#e6e6e6; */
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
border:1px solid #d4d4d4;
/*
background-image: linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

span.omaggio-bundle {
position:absolute;
top:46px;
width:60px;
height:16px;
color:red;
text-align:center;
background-color:white;
/* background-color:#e6e6e6; */
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
border:1px solid #d4d4d4;
/*
background-image: linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

#primo_bundle {
border:1px solid #d4d4d4;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;*/
background: #ffffff; /* Old browsers */

}

#scopri_i_nostri_kit {
width:260px;
position:relative;
display:block;
margin:0 auto;
margin-top:0px;
/*border-bottom-left-radius:7px;
-webkit-border-bottom-left-radius:7px;
-moz-border-bottom-left-radius:7px;
-o-border-bottom-left-radius:7px;
border-bottom-right-radius:7px;
-webkit-border-bottom-right-radius:7px;
-moz-border-bottom-right-radius:7px;
-o-border-bottom-right-radius:7px;*/
text-align:center;
height:23px;
border-right:1px solid #d4d4d4;
border-left:1px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;
background-image: url('../img/tab_bg_short_2.jpg');
}

#scopri_i_nostri_kit a {
display:block;
width:260px;
height:23px;
padding-top:3px;
text-align:center;
}

#scopri_i_nostri_kit a:hover {
background-image: none;
	background-color: #ededed;
	background-repeat:repeat;
}

#scopri_i_nostri_kit a:hover, #scopri_i_nostri_kit a:link, #scopri_i_nostri_kit a:visited {

color:#000000;
font-weight:bold;
font-size:13px;
text-decoration:none;
}

#quotation {
height:350px;
overflow-y:auto;
}

#payment {
height:140px;
overflow-y:auto;
}
#prezzi-container 
{
	margin-top:-2px;
}

	#prezzi-container-nav li {
		/*background-image: url('../img/tab_bg_selected_short_2.jpg') !important;
				border-top-left-radius:7px !important;
			-webkit-border-top-left-radius:7px !important;
		-moz-border-top-left-radius:7px !important;
		-o-border-top-left-radius:7px !important;
				border-top-right-radius:7px !important;
			-webkit-border-top-right-radius:7px !important;
		-moz-border-top-right-radius:7px !important;
		-o-border-top-right-radius:7px !important;*/
		background-color:#fffff;
		width:78px; 
		margin-left:5px;
		text-align:center; 
		display:block; 
		float:left;
		height:18px; 
		font-size:12px !important;
		text-transform:uppercase !important;
		border:1px solid #d4d4d4;
		border-bottom:0px;
	}
	
	#prezzi-container-nav li a {
		color:#000000;
	}
	
	#prezzi-container-nav li h2 {
	font-size:12px;
	}
	
	#prezzi-container-nav li:hover {
	background-image: none !important;
	background-color: #ededed !important;
	background-repeat:repeat !important;
}
	
	#prezzi-container-nav li.activeli {
	border-bottom:1px solid #f8f8f8 !important;
	color: #000000 !important;
	/*background-image: url('../img/tab_bg_short_2.jpg') !important;*/
	background-color:#ffffff;
	}

	.activeli a {
	color: #000000 !important;
	
	}
	
	.idTabHrefShort {
	
	}
	
	
	#cart_footer
	{
		border-top:1px solid #d4d4d4; 
		border-bottom:1px solid #d4d4d4; 
		padding-top:10px; 
		padding-bottom:10px
		
	}
	
	#cart_footer div.col
	{
		text-align:right;
		float:right;
	}	
	
	#quantity_wanted_p
	{
		
		display:block;
		margin-top:0px;
		position:relative;
		height:34px;
		
	}	
	
	#miglior-prezzo-img-2, #miglior-prezzo-scritta-2
	{
		display:none;
	}
	#miglior-prezzo-img, #miglior-prezzo-scritta
	{
		display:inline;
	}
	 /* da product */

@media (max-width: 768px) 
{
	#miglior-prezzo-img-2, #miglior-prezzo-scritta-2
	{
		display:inline;
	}
	#miglior-prezzo-img, #miglior-prezzo-scritta
	{
		display:none;
	}
	
	#primary_block #pb-left-column
	{
		width:100% !important;
	}
	
	
	.prodotto-info 
	{
		display:none;
	}
	
	#cart_footer
	{
		padding-left: 10px;
		padding-right:10px;
	}
	
	#same-category-carousel
	{
		display:none;
	}
	
	table.std
	{
		margin-left:0px !important;
		width:100% !important;
		
	}
	
	table.std tr td
	{
		width:50% !important;
	}
	
	table.std table
	{
		width:90% !important;
	}
	
	#przcont-prices
	{
		width:55px !important;
	}
	
	div.carrello
	{
		position:relative;
		top:0;
		left:0;
		width:100%;
		border-top: 1px solid #ebebeb;

		border-bottom: 1px solid #ebebeb;

		margin-top: 10px;
		padding-top:7px;
		margin-bottom: 10px;
	}
	
	#quantity_wanted_p
	{
		margin-left:0px;
		float:left;
	}
	
	#add_to_cart_button
	{
		margin:0;
	}
	
	.acquista-listing-button
	{
		float:right;
		margin-top:-10px;
	}
	
	h1.product_name_title, div.mini-description, div.codes
	{
		padding-left: 10px;
		padding-right:10px;
		width:100%;
	}
	
	
	table.tabella-sconti-quantita
	{
		width:100%;
	}
	
	p.l-img-p
	{
		display:none !important;
	}
	
	#descrprodotto iframe
	{
		width:400px !important;
		height:calc(400px * 9 / 16) !important;
	}
	#accessories-carousel, #alternatives-carousel
	{
		width:100%;
	}
	
	#accessories-carousel-int table, #alternatives-carousel-int table
	{
		width:100%;
	}
}

 @media (max-width: 768px) 
{
	
	 
	 #alternatives-carousel-int table tr td {
	padding-left:3px;
	padding-right:3px;
	width:70%;
		 display:block !important;
		 margin: 0 auto;
		 margin-top:15px; 
	}
	 #alternatives-carousel-int table {
		 
	 }
	
	 #alternatives-carousel-int table tr td img {
		
	 }
	 span.alternative_name
	 {
		 width:100%;
	 }
	 p.description_short_alternatives {
		 display:none;
	 }
	
	.swal2-modal .swal2-title
	{
		font-size:18px !important;	
	}
	
	 #alternatives-carousel-int .acquista-listing-button,  #alternatives-carousel-int .ajax_add_to_cart_button  {
		padding-top: 6px;
		padding-bottom: 6px;
		margin-top:0px;
		float:none !important;
	}
	
	#product-header
	{
		margin-top:0px;
	}
	
	#product-header-left
	{
		width:100%;
		padding-left:10px;
	}
	
	#pb-mini-desc
	{
		display:none;
	}
	
	#pb-center-column {
		/* display:none !important; */
	}
	h1.product_name_title, div.mini-description, div.codes
	{
		padding-left:0px;
	}
	
	#product-header-right {
    float: none;
    width: 90%;
    text-align: right;
    margin: 0 auto;
	}
}

/* fine product */
	