.menu-navbar-custom {
	list-style-type:none; 
    padding: 0px 10px; 
    margin-top:5px;
}

.menu-navbar-custom li {
	display:inline-block; 
    border-left:1px solid #202020;   
    margin-left:10px; 
    padding-left:10px;
}

.menu-navbar-custom li a {
	color:#202020; 
    text-decoration:none; 
    font-size:13px; 
    font-weight:600;
    cursor: pointer;
}

.menu-navbar-custom li a:hover {
    color: #ff6600;
}

