
/* bundle.tpl */
div.bundle_block {
position:relative;
float:left;
width:135px;
margin-right:10px;
padding:5px;
margin-top:5px;
height:345px;
/*border-radius:7px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-o-border-radius:7px;
border:1px solid #d4d4d4;*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

div.bundle_block div.piu {
position:absolute;
top:110px;
right:-22px;
background-image: url('../img/p_bundle_big.png');
width:32px;
height:41px;
z-index:9;
}

div.bundle_block h2 {
font-size:13px;
display:block;
height:50px;

}

div.bundle_block div.bottom {
position:absolute;
top:170px;

}

div.prices {
position:relative;
margin-top:5px;
margin-bottom:5px;
border:1px solid #d4d4d4;
background-image: linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
padding:5px;

behavior:url('https://www.ezdirect.it/PIE.htc');
}

#same-category-carousel {
border:1px solid #d4d4d4;
left:0px;
position:relative;
text-align:center;
margin-bottom:10px;
behavior:url('https://www.ezdirect.it/PIE.htc');
}

span.quantity-bundle {
position:absolute;
top:0px;
text-align:center;
margin-left:18px;
width:30px;
height:15px;
background-color:white;
/* background-color:#e6e6e6; */
border:1px solid #d4d4d4;
/*
background-image: linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}


span.quantity-bundle-in {
position:relative;
display:block;
margin:0 auto;
margin-top:-15px;
text-align:center;
width:30px;
height:15px;
background-color:white;
/* background-color:#e6e6e6; */
border:1px solid #d4d4d4;
/*
background-image: linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

span.omaggio-bundle {
position:absolute;
top:50px;
width:60px;
height:16px;
color:red;
text-align:center;
background-color:white;
/* background-color:#e6e6e6; */
-o-border-radius:7px;
border:1px solid #d4d4d4;
/*
background-image: linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 38%, rgb(244,244,244) 69%, rgb(248,248,248) 85%);
*/
behavior:url('https://www.ezdirect.it/PIE.htc');
}

