/* category.tpl */
body#category #subcategories li { 
	color:#383838; 
	height: 200px; 
	width: 200px;
	flex: 0 0 auto; 
	border: 1px solid #f4f4f4; 
	padding: 20px 20px; 
	margin: 0 15px;
	
	
}
div.cat_desc { color:#383838; }


body#category div#subcategories .inline_list a img { display: inline }
#category img#categoryImage { margin-top: 1em }

.scoll-pane {
    width: 100%;
    height: auto;
    overflow: auto;
    outline: none;
    overflow-y: hidden;
    padding-top: 15px;
    -ms-overflow-style: scroll;  /* IE 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scoll-pane::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

#subcategories .inline_list::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

/* da category */

	 @media (max-width: 768px) 
{
	.cat_desc h2
	{
		margin-bottom:10px;
	}
	.cat_desc
	{
		width:95%;
		padding-left: 10px;
		padding-right:10px;
	}
	
	.cat_desc img.img_lrg
	{
		width:100%;
		height:auto;
		margin-top:7px;
		margin-bottom:7px;
	}

	.cat_desc img {
		width: 100%;
		object-fit: contain;
	}

	
	#subcategories .inline_list li 
	{
		display:table-cell;
		text-align:center;
		/* width:23% !important; */
		margin-left:2% !important;
		margin-right:0px !important;
		margin:7px;
		/*background-color: #ebebeb;*/
	}
	
	#subcategories .inline_list li img
	{
		display:block;
		margin: 0 auto;
		margin-top:7px !important;
		/*background-color: #ebebeb;*/
	}
}

	 @media (max-width: 360px) 
{
	/*#subcategories .inline_list li 
	{
		display:block;
		width:100% !important;
		margin:7px;
	}*/
}