.comparison_feature_value {
	padding: 5px;
	margin-top: 5px
}

.comparison_feature {
	padding: 5px;
	color: red;
	font-weight: bold
}

.comparison_feature_odd {
	background-color: #F1F2F4;
	padding: 3px
}

.comparison_feature_even {
	padding: 3px
}

.comparison_infos {
	border-left: 1px dotted #595A5E;
	vertical-align: top
}

.comparison_infos_first {
	border-left: 1px dotted  #595A5E;
	border-right: 1px dotted #595A5E
}

#product_comparison {
	border-collapse: collapse
}	

tr.comparison_header td {
	background-color: #d4d4d4;	
	color: #383838;
	font-weight: bold;
	padding: 3px
}

.product_desc a {
	text-decoration: none
}

.comparison_comment {
	background-color: #FFFFFF
}


.cluetip-comparison_comments {
		text-align: justify;
		background-color:white;
		padding:10px;
		border:1px solid gray;
		background-color:#F1F2F4;
		opacity:0.95;
		width: 430px
}
	
.comment .customer_name {
	font-weight: bold
}


.cmp_remove {
	/*
	margin: auto;
	text-align: center;
	display: block;
	width: 120px; 
	cursor: pointer;
	display: block;
	line-height: 22px;
	height: 22px;
	*/
}

.comparison_availability_statut {
text-align:center;
margin-top:-40px;
	height: 27px
}

.comparison_old_price {
	height: 13px
}

.comparison_product_infos {

}


.comparison_unit_price {
	color:gray;
	font-size:0.75em
}

.product_discount {
	height: 13px;	
	color:#DA0F00;
	font-weight:bold;
	text-transform:uppercase
}



