/* my-account.tpl */
#my-account #center_column ul { margin: 2em 0 }
#my-account #center_column li { 
	list-style: none; 
	margin: 1em 1.5em 
}

.my_account_table tr td 
{
	border-bottom:1px solid #d4d4d4;
	
}	