#order-opc .opc_status {
	border: 1px solid #d0d3d8;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
	font-size: 12px
}

.opc_float {
	float:left;
	width: 49%
}

.opc_float_status {
	float: left;
	width: 45%;
	padding: 10px
}

#order-opc #login_form {
	width: 100%;
	clear: none
} 

#order-opc #login_form p.text {
	height: 3.4em;
	margin-left: 4em;
	padding-left: 0;
	padding-right: 0
}

#order-opc #login_form a { color: #374853 }
#order-opc input#SubmitLogin { margin: 0 }
#order-opc #login_form p.submit {
	margin-right: 0;
	text-align: left;
	padding-left: 17%!important
}
#order-opc p.lost_password { padding-left: 4em }
#order-opc p.submit span { padding-right: 0.5em }
#order-opc #login_form label {
	float: none;
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	margin-bottom: 0.3em
}

#order-opc textarea#message { width: 42em }

#order-opc sup { color: red }

#order-opc div.opc-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/ajax-loader.gif') #666 no-repeat center center;
	opacity: 0.7;
	-moz-opacity : 0.7; 
	z-index: 99
}

#order-opc div.opc-main-block { position: relative }

#coupon-fieldset {
	width:400px; height:115px; border:0px; overflow:hidden;
	position:absolute; right:-415px; top:160px;
}

#insert-comment { position:absolute; right: 19px; bottom:190px; width:669px; height:16px }
#message  { width:670px; height:28px }
#cart-hand { position:absolute; right: 645px; bottom:115px; width:35px; height:30px }

 @media (min-width: 1050px) 
 {
	 .shopping-h2
	 {
		 display:none;
	 }
 }
 
 
 @media (max-width: 768px) 
{
	
	.cart_navigation a
	{
		display:none;
	}
	
	 .shopping-h2
	 {
		 display:block;
		 padding:5px;
		 background-color:#db6906;
		 color:#ffffff;
	 }
	 
	#coupon-fieldset {
		margin-top:10px;
		right:-355px;
	}
	#insert-comment {  width:639px; }
	#message  { width:640px;  }
	#cart-hand { right: 565px; bottom:105px; z-index:9 }
}

/* da order-opc */

 @media (max-width: 768px) 
{
	.shopping_cart_header
	{
		display:none;
	}
	
	#payment_button_shopping
	{
		display:none  !important;
	}
	
	#opc-account, #opc-shipping, #opc-payment, #save_p
	{
		width:100% !important;
	}
	
	#save_p
	{
		margin-left:0px !important;
	}
	
	#submitAccount
	{
		position:absolute;
	}
	
	#opc-account, #loyalty
	{
		/*margin-top:-50px;*/
		
	}
	
	#payment_button
	{
		margin-top:-40px;
	}
	#opc-payment
	{
		margin-bottom:10px !important;
		
	}
	#coupon-fieldset
	{
		position:relative;
		left:0;
		top:0;
		margin-top:0;
	}
	
	.shopping_cart_table
	{
		width:97% !important;
	}
	
	#insert-comment
	{
		display:none;
		position:relative;
		left:0;
		top:0;
		margin-top:0;
	}
	
	#aiuto-telefono
	{
		display:none;
	}
	
	.box-carrello-img
	{
		margin-top:0px;
		width:100%;
	}
	#voucher
	{
		width:100%;
		
	}
	#cart_env .button_large
	{
		width:100% !important;
		margin-left:0px !important;
	}
	
	#coupon-fieldset
	{
		width:100%;
		padding:0px;
	}
	
	#coupon-fieldset img
	{
		display:none;
	}
	
	#payment_button
	{
		min-width:200px;
	}
	
	p.checkbox
	{
		left:0 !important;
		position:relative !important;
		height: 40px;
	}
	
	p.cart_navigation
	{
		top:0 !important;
		right:0 !important;
		position:relative !important;
	}
	
	#cart_summary
	{
		max-width:100% !important;
	}
	
	#cart_summary tr, #cart_summary td, #cart_summary th, #cart_summary tbody, #cart_summary tfoot
	{
		width:auto !important;
	}
	
	#cart_summary tr
	{
		 display:flex;
		flex-wrap:wrap;
	}
	
	#cart_summary td
	{
		display:block;
		flex:1
	}
	
	#cart_env {
		margin-top:25px;
	}
	
	#shopping_cart_steps {
		
		-webkit-box-ordinal-group: 2 !important;
		-moz-box-ordinal-group: 2 !important;
		box-ordinal-group: 2 !important;
		
	}
	
	#shopping_cart_products {
		-webkit-box-ordinal-group: 1 !important;
		-moz-box-ordinal-group: 1 !important;
		box-ordinal-group: 1 !important;
	}
	
	#opc-shipping, #opc-payment
	{
		padding-left:0px !important;
	}
	
}

/* fine order-opc */


